src/power-automate/v0.9x/v0.9.28/Microsoft.Flow/flows/d1ea46fc-17a0-4c3f-8ed8-b6cf85b31a4a/definition.json
{"name":"25346afa-8afb-4473-badc-faf58d33e107","id":"/providers/Microsoft.Flow/flows/25346afa-8afb-4473-badc-faf58d33e107","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"578 Employee Recognition App - Combined Triage & Approval Routing","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ec4f9b5d-fe24-466f-a4af-0d030edc3f90","type":"User","tenantId":"e95f1b23-abaf-45ee-821d-b7ab251ab3bf"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-07-09T18:09:31.0303491Z","connectionKeySavedTimeKey":"2025-07-09T18:09:31.0303491Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"5676492d-ceb1-4e58-8f53-71e03ac66f66"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition_-_Triage_to_Nursing_Team":{"actions":{"Update_(ApplyTo)_-_PostNursing_Stage":{"foreach":"@outputs('Approval_-_Nursing_Stage')?['body/responses']","actions":{"Update_Item_-_PostNursing_Stage":{"runAfter":{},"metadata":{"operationMetadataId":"53b57102-4966-403c-b762-a59c2e0174ed"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@outputs('Get_Refreshed_Item_Info')?['body/ID']","item/Title":"Nursing_@{outputs('Get_Refreshed_Item_Info')?['body/ID']}","item/Approval_StatusText":"Completed: Nursing_@{outputs('Approval_-_Nursing_Stage')?['body/outcome']}","item/ApprovalStatus":"Nursing Outcome: @{outputs('Approval_-_Nursing_Stage')?['body/outcome']}","item/Approval_ActionComments":"Nursing Comments: @{items('Update_(ApplyTo)_-_PostNursing_Stage')?['comments']}","item/Approval_AssignedTo":"None - Nursing Team Completed","item/Approval_ActionBy":"Nursing Team (@{items('Update_(ApplyTo)_-_PostNursing_Stage')?['responder/email']})","item/Approval_CompletedDateTime":"@outputs('Approval_-_Nursing_Stage')?['body/completionDate']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Approval_-_Nursing_Stage":["Succeeded"]},"metadata":{"operationMetadataId":"de6a4ac5-654e-4c21-ae2b-39c8f113a263"},"type":"Foreach"},"Update_Item_-_PreNursing_Stage":{"runAfter":{},"metadata":{"operationMetadataId":"1dfe7d6f-1e1b-4412-893a-acf1a108046c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@outputs('Get_Refreshed_Item_Info')?['body/ID']","item/Title":"Nursing_@{outputs('Update_Item_-_PreTriage_Stage')?['body/ID']}","item/Approval_StatusText":"Pending: Nursing_Review","item/Approval_AssignedTo":"Nursing Team (Teneshia.Hudson@va.gov; Kimberley.Richmond@va.gov;)"},"authentication":"@parameters('$authentication')"}},"Approval_-_Nursing_Stage":{"runAfter":{"Update_Item_-_PreNursing_Stage":["Succeeded"]},"metadata":{"operationMetadataId":"237d2ce6-cdf3-4e66-afdd-be7db1fb5550"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Nursing Award Nomination #@{outputs('Get_Refreshed_Item_Info')?['body/ID']}","WebhookApprovalCreationInput/assignedTo":"Teneshia.Hudson@va.gov; Kimberley.Richmond@va.gov; Kyle.Coder@va.gov\n","WebhookApprovalCreationInput/details":"~testing~\nA new award nomination packet was submitted to you (Nursing Award Packet #@{outputs('Get_Refreshed_Item_Info')?['body/ID']}), as a member of the Hines \"Nursing Award Sub-Committee\". A A Triage Team member has already reviewed this award packet and identified that the recognition is worthy of consderation for a Nursing Award (Daisy/Bee). View a helpful infographic [by clicking this link](https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp/SitePages/NewAward_Infographic.aspx \"MS Approvals Infographic\"). Please review the details provided below, and either **APPROVE** or **DENY** this request if the nominee has won this award:\n\n&nbsp;\n| **QUESTION**                                             | **ANSWER**                                  |\n|:--------------------------------------------------------|:-------------------------------------------|\n| **Award Type:**                                        | @{outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType']}         |\n| **Nominee:**                                              | @{triggerOutputs()?['body/field_5']}         |\n| **Nominee Is Part Of Nursing Services?** | @{triggerOutputs()?['body/NursingBoolean']}  |\n| **Integrity Comments:**                                  | @{triggerOutputs()?['body/field_9']}         |\n| **Commitment Comments:**                                 | @{triggerOutputs()?['body/field_11']}        |\n| **Advocacy Comments:**                                   | @{triggerOutputs()?['body/field_13']}        |\n| **Respect Comments:**                                    | @{triggerOutputs()?['body/field_15']}        |\n| **Excellence Comments:**                                 | @{triggerOutputs()?['body/field_17']}        |\n| **Additional Comments:**                                 | @{triggerOutputs()?['body/field_19']}        |\n| **Event Is A Safety Concern?** | @{string(triggerOutputs()?['body/SafetyBoolean'])} |\n| **Event Date:**                                          | @{triggerOutputs()?['body/field_7']}         |\n| **Event Location:**                                      | @{triggerOutputs()?['body/field_6']}         |\n&nbsp;  \n\nAs a \"Nursing Award Sub-Committee\" member, you can interact with this award nomination within [Microsoft Teams (click this link)](msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals \"Microsoft Teams Approvals\"), by opening [Microsoft Approvals (click this link)](https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/approvals/received \"Microsoft PowerAutomate\"), or via an email you should have recieved from Microsoft Power Automate (flow-noreply@microsoft.com).","WebhookApprovalCreationInput/requestor":"@{triggerOutputs()?['body/field_3']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Get_item":{"runAfter":{"Update_Item_-_PreNursing_Stage":["Succeeded"]},"metadata":{"operationMetadataId":"c1e19762-fe61-49dc-9896-c7128292f976"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@outputs('Update_Item_-_PreNursing_Stage')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Create_item":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"ba15f6ae-de61-4238-9ae6-c12389699376"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PostItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"d5988e2a-81c8-4f8d-850f-4ba28b2b04bd","item/Title":"@outputs('Get_item')?['body/Title']","item/field_2":"@outputs('Get_item')?['body/field_2']","item/Approval_StatusText":"@outputs('Get_item')?['body/Approval_StatusText']","item/Triage_Status":"@outputs('Get_item')?['body/Triage_Status']","item/Triage_ActionComments":"@outputs('Get_item')?['body/Triage_ActionComments']","item/Triage_AssignedTo":"@outputs('Get_item')?['body/Triage_AssignedTo']","item/Triage_ActionBy":"@outputs('Get_item')?['body/Triage_ActionBy']","item/Triage_CompletedDateTime":"@outputs('Get_item')?['body/Triage_CompletedDateTime']","item/ApprovalStatus":"@outputs('Get_item')?['body/ApprovalStatus']","item/Approval_ActionComments":"<p>@{outputs('Get_item')?['body/Approval_ActionComments']}</p>","item/Approval_AssignedTo":"@outputs('Get_item')?['body/Approval_AssignedTo']","item/Approval_ActionBy":"@outputs('Get_item')?['body/Approval_ActionBy']","item/Approval_CompletedDateTime":"@outputs('Get_item')?['body/Approval_CompletedDateTime']","item/Text_AwardType":"@outputs('Get_item')?['body/Text_AwardType']","item/field_6":"@outputs('Get_item')?['body/field_6']","item/field_7":"@outputs('Get_item')?['body/field_7']","item/field_9":"@outputs('Get_item')?['body/field_9']","item/field_11":"@outputs('Get_item')?['body/field_11']","item/field_13":"@outputs('Get_item')?['body/field_13']","item/field_15":"@outputs('Get_item')?['body/field_15']","item/field_17":"@outputs('Get_item')?['body/field_17']","item/field_19":"@outputs('Get_item')?['body/field_19']","item/NursingBoolean":"@outputs('Get_item')?['body/NursingBoolean']","item/SafetyBoolean":"@outputs('Get_item')?['body/SafetyBoolean']","item/Choice_HROPrinciple":"@outputs('Get_item')?['body/Choice_HROPrinciple']","item/field_5":"@outputs('Get_item')?['body/field_5']","item/Nominee_Supervisor_Email":"@outputs('Get_item')?['body/Nominee_Supervisor_Email']","item/Packet_HinesHero_Text":"@outputs('Get_item')?['body/Packet_HinesHero_Text']","item/Packet_HinesHero_Summary_Text":"@outputs('Get_item')?['body/Packet_HinesHero_Summary_Text']","item/Packet_GreatCatch_Context_Text":"@outputs('Get_item')?['body/Packet_GreatCatch_Context_Text']","item/Packet_GreatCatch_Actions_Text":"@outputs('Get_item')?['body/Packet_GreatCatch_Actions_Text']","item/Packet_GreatCatch_Results_Text":"@outputs('Get_item')?['body/Packet_GreatCatch_Results_Text']","item/Packet_GreatCatch_ClinicalOrNonc":"@outputs('Get_item')?['body/Packet_GreatCatch_ClinicalOrNonc']","item/Nominee_ServiceLineOrTeam_Text":"@outputs('Get_item')?['body/Nominee_ServiceLineOrTeam_Text']","item/Packet_HinesHero_NomineePhoto_Te":"@outputs('Get_item')?['body/Packet_HinesHero_NomineePhoto_Te']","item/field_1":"@outputs('Get_item')?['body/field_1']","item/field_3":"@outputs('Get_item')?['body/field_3']","item/field_4":"@outputs('Get_item')?['body/field_4']","item/Flow_PromptedChatbot_SafetyCheck":"@outputs('Get_item')?['body/Flow_PromptedChatbot_SafetyCheck']","item/field_8":"@outputs('Get_item')?['body/field_8']","item/field_10":"@outputs('Get_item')?['body/field_10']","item/field_12":"@outputs('Get_item')?['body/field_12']","item/field_14":"@outputs('Get_item')?['body/field_14']","item/field_16":"@outputs('Get_item')?['body/field_16']","item/field_18":"<p>@{outputs('Get_item')?['body/field_18']}</p>"},"authentication":"@parameters('$authentication')"}},"Approval_-_Triage_Stage_3":{"runAfter":{"Update_Item_-_PreNursing_Stage":["Succeeded"]},"metadata":{"operationMetadataId":"237d2ce6-cdf3-4e66-afdd-be7db1fb5550"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Forward to Nursing Team","Forward to HRO Team","Forward to Public Affairs Team","Return to Sender"],"WebhookApprovalCreationInput/title":"TertriaryTest_Award Triage Approval (#@{triggerOutputs()?['body/ID']})","WebhookApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;\n","WebhookApprovalCreationInput/details":"!Kyletesting!@{concat(\n'| **QUESTION** | **ANSWER** |', decodeUriComponent('%0A'),\n'|:-----------------------------------------------------|:----------------------------------------|', decodeUriComponent('%0A'),\nif(not(equals(outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'],'None provided')), concat('| **Award Type:** |', outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'], ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(triggerOutputs()?['body/field_5'],'None provided')), concat('| **Nominee''s Name:** |', triggerOutputs()?['body/field_5'], ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'),'None provided')), concat('| **Event Date:** |', formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.Location.Text'),'None provided')), concat('| **Location:** |', outputs('Compose.Location.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(triggerOutputs()?['body/SafetyBoolean'],'None provided')), concat('| **Event is a safety concern:** |', triggerOutputs()?['body/SafetyBoolean'], ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(triggerOutputs()?['body/NursingBoolean'],'No')), concat('| **Nominee part of Nursing Service:** |', triggerOutputs()?['body/NursingBoolean'], ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.Integrity.Text'),'None provided')), concat('| **Integrity Comments:** |', outputs('Compose.Integrity.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.Commitment.Text'),'None provided')), concat('| **Commitment Comments:** |', outputs('Compose.Commitment.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.Advocacy.Text'),'None provided')), concat('| **Advocacy Comments:** |', outputs('Compose.Advocacy.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.Respect.Text'),'None provided')), concat('| **Respect Comments:** |', outputs('Compose.Respect.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.Excellence.Text'),'None provided')), concat('| **Excellence Comments:** |', outputs('Compose.Excellence.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.AdditionalComments.Text'),'None provided')), concat('| **Additional Comments:** |', outputs('Compose.AdditionalComments.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_NomineeServiceLine_Text')), equals(outputs('Compose_NomineeServiceLine_Text'),'None provided'))), concat('| **Nominee''s Service Line:** |', outputs('Compose_NomineeServiceLine_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HinesHero_Summary_Text')), equals(outputs('Compose_HinesHero_Summary_Text'),'None provided'))), concat('| **Hines Hero Summary:** |', outputs('Compose_HinesHero_Summary_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HinesHero_Details_Text')), equals(outputs('Compose_HinesHero_Details_Text'),'None provided'))), concat('| **Hines Hero Details:** |', outputs('Compose_HinesHero_Details_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HROContext_Text')), equals(outputs('Compose_HROContext_Text'),'None provided'))), concat('| **HRO Context:** |', outputs('Compose_HROContext_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HROActions_Text')), equals(outputs('Compose_HROActions_Text'),'None provided'))), concat('| **HRO Actions:** |', outputs('Compose_HROActions_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HROResults_Text')), equals(outputs('Compose_HROResults_Text'),'None provided'))), concat('| **HRO Results:** |', outputs('Compose_HROResults_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HROPrinciples_Text')), equals(outputs('Compose_HROPrinciples_Text'),'None provided'))), concat('| **HRO Principles:** |', outputs('Compose_HROPrinciples_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HROClinicOrNonclinic_Text')), equals(outputs('Compose_HROClinicOrNonclinic_Text'),'None provided'))), concat('| **Clinical or Non-clinical:** |', outputs('Compose_HROClinicOrNonclinic_Text'), ' |', decodeUriComponent('%0A')), '')\n)}\nA new award nomination packet was submitted to you (Award Packet #@{triggerOutputs()?['body/ID']}), as a member of the Hines \"Award Committee Triage Team. The submitter is recommending that an Edward Hines Jr. VA Hospital employee be recognized for their outstanding actions! Please review the details below, and either re-route this packet to the appropriate award sub-committee OR return this back to sender with your free-text comments to request follow-up/additional information.\n\n@{concat(\n'| **QUESTION** | **ANSWER** |', decodeUriComponent('%0A'),\n'|:-----------------------------------------------------|:----------------------------------------|', decodeUriComponent('%0A'),\nif(not(equals(outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'],'None provided')), concat('| **Award Type:** |', outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'], ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(triggerOutputs()?['body/field_5'],'None provided')), concat('| **Nominee''s Name:** |', triggerOutputs()?['body/field_5'], ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'),'None provided')), concat('| **Event Date:** |', formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.Location.Text'),'None provided')), concat('| **Location:** |', outputs('Compose.Location.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(triggerOutputs()?['body/SafetyBoolean'],'None provided')), concat('| **Event is a safety concern:** |', triggerOutputs()?['body/SafetyBoolean'], ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(triggerOutputs()?['body/NursingBoolean'],'No')), concat('| **Nominee part of Nursing Service:** |', triggerOutputs()?['body/NursingBoolean'], ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.Integrity.Text'),'None provided')), concat('| **Integrity Comments:** |', outputs('Compose.Integrity.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.Commitment.Text'),'None provided')), concat('| **Commitment Comments:** |', outputs('Compose.Commitment.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.Advocacy.Text'),'None provided')), concat('| **Advocacy Comments:** |', outputs('Compose.Advocacy.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.Respect.Text'),'None provided')), concat('| **Respect Comments:** |', outputs('Compose.Respect.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.Excellence.Text'),'None provided')), concat('| **Excellence Comments:** |', outputs('Compose.Excellence.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(equals(outputs('Compose.AdditionalComments.Text'),'None provided')), concat('| **Additional Comments:** |', outputs('Compose.AdditionalComments.Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_NomineeServiceLine_Text')), equals(outputs('Compose_NomineeServiceLine_Text'),'None provided'))), concat('| **Nominee''s Service Line:** |', outputs('Compose_NomineeServiceLine_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HinesHero_Summary_Text')), equals(outputs('Compose_HinesHero_Summary_Text'),'None provided'))), concat('| **Hines Hero Summary:** |', outputs('Compose_HinesHero_Summary_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HinesHero_Details_Text')), equals(outputs('Compose_HinesHero_Details_Text'),'None provided'))), concat('| **Hines Hero Details:** |', outputs('Compose_HinesHero_Details_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HROContext_Text')), equals(outputs('Compose_HROContext_Text'),'None provided'))), concat('| **HRO Context:** |', outputs('Compose_HROContext_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HROActions_Text')), equals(outputs('Compose_HROActions_Text'),'None provided'))), concat('| **HRO Actions:** |', outputs('Compose_HROActions_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HROResults_Text')), equals(outputs('Compose_HROResults_Text'),'None provided'))), concat('| **HRO Results:** |', outputs('Compose_HROResults_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HROPrinciples_Text')), equals(outputs('Compose_HROPrinciples_Text'),'None provided'))), concat('| **HRO Principles:** |', outputs('Compose_HROPrinciples_Text'), ' |', decodeUriComponent('%0A')), ''),\nif(not(or(empty(outputs('Compose_HROClinicOrNonclinic_Text')), equals(outputs('Compose_HROClinicOrNonclinic_Text'),'None provided'))), concat('| **Clinical or Non-clinical:** |', outputs('Compose_HROClinicOrNonclinic_Text'), ' |', decodeUriComponent('%0A')), '')\n)}\n\nAs a Hines \"Award Committee Triage Team\" member, you can interact with this award nomination within [Microsoft Teams (click this link)](msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals \"Microsoft Teams Approvals\"), by opening [Microsoft Approvals (click this link)](https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/approvals/received \"Microsoft PowerAutomate\"), or via an email you should have recieved from Microsoft Power Automate (flow-noreply@microsoft.com).","WebhookApprovalCreationInput/requestor":"@{triggerOutputs()?['body/field_3']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Delay_30_Seconds_-_PostTriage_Stage":["Succeeded"]},"else":{"actions":{"Condition_-_Triage_to_HRO_Team":{"actions":{"Update_(ApplyTo)_-_PostHRO_Stage":{"foreach":"@outputs('Approval_-_HRO_Stage')?['body/responses']","actions":{"Update_Item_-_PostHRO_Stage":{"runAfter":{},"metadata":{"operationMetadataId":"53b57102-4966-403c-b762-a59c2e0174ed"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@triggerOutputs()?['body/ID']","item/Title":"HRO_@{triggerOutputs()?['body/ID']}","item/Approval_StatusText":"Completed: HRO_@{outputs('Approval_-_HRO_Stage')?['body/outcome']}","item/ApprovalStatus":"HRO Outcome: @{outputs('Approval_-_HRO_Stage')?['body/outcome']}","item/Approval_ActionComments":"HRO Comments: @{items('Update_(ApplyTo)_-_PostHRO_Stage')?['comments']}","item/Approval_AssignedTo":"None - HRO Team Completed","item/Approval_ActionBy":"HRO Team (@{items('Update_(ApplyTo)_-_PostHRO_Stage')?['responder/email']})","item/Approval_CompletedDateTime":"@outputs('Approval_-_HRO_Stage')?['body/completionDate']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Approval_-_HRO_Stage":["Succeeded"]},"metadata":{"operationMetadataId":"d96355ba-5873-4c65-9bd4-795566123677"},"type":"Foreach"},"Update_Item_-_PreHRO_Stage":{"runAfter":{},"metadata":{"operationMetadataId":"728b7280-b540-4b8a-b62b-82ce3f16244e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@outputs('Get_Refreshed_Item_Info')?['body/ID']","item/Title":"HRO_@{outputs('Update_Item_-_PreTriage_Stage')?['body/ID']}","item/Approval_StatusText":"Pending: HRO_Review","item/Approval_AssignedTo":"HRO Team (Tuesday.Majors@va.gov; Manuelissa.Capulong@va.gov; Francisco.Marchese@va.gov;)"},"authentication":"@parameters('$authentication')"}},"Approval_-_HRO_Stage":{"runAfter":{"Update_Item_-_PreHRO_Stage":["Succeeded"]},"metadata":{"operationMetadataId":"237d2ce6-cdf3-4e66-afdd-be7db1fb5550"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"HRO Award Nomination #@{triggerOutputs()?['body/ID']}","WebhookApprovalCreationInput/assignedTo":"Tuesday.Majors@va.gov; Manuelissa.Capulong@va.gov; Francisco.Marchese@va.gov; Kyle.Coder@va.gov\n","WebhookApprovalCreationInput/details":"~testing!~\nA new award nomination packet was submitted to you (HRO Award Packet #@{triggerOutputs()?['body/ID']}), as a member of the Hines \"HRO Award Sub-Committee\" team. A Triage Team member has already reviewed this award packet, and identified that the recognition is worthy of consderation for an HRO Award (Safety Story, Great Catch, or HeRO). View a helpful infographic [by clicking this link](https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp/SitePages/NewAward_Infographic.aspx \"MS Approvals Infographic\"). Please review the details below, and either **APPROVE** or **DENY** this request if the nominee has won this award:\n\n&nbsp;  \n| **QUESTION**                                             | **ANSWER**                                  |\n|:--------------------------------------------------------|:--------------------------------------------|\n| **Award Type:**                                         | @{outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType']} |\n| **Nominee:**                                            | @{outputs('Update_Item_-_PreHRO_Stage')?['body/field_5']} |\n| **Nominee Service Line:**                               | @{outputs('Get_Refreshed_Item_Info')?['body/Nominee_ServiceLineOrTeam_Text']} |\n| **Event Is A Safety Concern?**                          | @{string(triggerOutputs()?['Body/SafetyBoolean'])} |\n| **Nominee is Clinical or NON-Clinical?**                | @{triggerOutputs()?['Body/NursingBoolean']} |\n| **HRO Context:**                                        | @{outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_Context_Text']} |\n| **HRO Actions:**                                        | @{outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_Actions_Text']} |\n| **HRO Results:**                                        | @{outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_Results_Text']} |\n| **HRO Clinical Event?**                                 | @{outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_ClinicalOrNonc']} |\n| **HRO Service Line:**                                   | @{outputs('Get_Refreshed_Item_Info')?['body/Nominee_ServiceLineOrTeam_Text']} |\n| **HRO Principles:**                                     | @{outputs('Get_Refreshed_Item_Info')?['body/Choice_HROPrinciple']} |\n| **Event Date:**                                         | @{outputs('Get_Refreshed_Item_Info')?['body/field_7']} |\n| **Event Location:**                                     | @{outputs('Get_Refreshed_Item_Info')?['body/field_6']} |\n&nbsp;  \n\nAs a \"HRO Award Sub-Committee\" team member, you can interact with this award nomination within [Microsoft Teams (click this link)](msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals \"Microsoft Teams Approvals\"), by opening [Microsoft Approvals (click this link)](https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/approvals/received \"Microsoft PowerAutomate\"), or via an email you should have recieved from Microsoft Power Automate (flow-noreply@microsoft.com).","WebhookApprovalCreationInput/requestor":"@{triggerOutputs()?['body/field_3']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition_-_Triage_to_Public_Affairs":{"actions":{"Update_(ApplyTo)_-_PostPublicAffairs_Stage":{"foreach":"@outputs('Approval_-_PublicAffairs_Stage')?['body/responses']","actions":{"Update_Item_-_PostPublicAffairs_Stage":{"runAfter":{},"metadata":{"operationMetadataId":"53b57102-4966-403c-b762-a59c2e0174ed"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@triggerOutputs()?['body/ID']","item/Title":"HinesHero_@{triggerOutputs()?['body/ID']}","item/Approval_StatusText":"Completed: HinesHero_@{outputs('Approval_-_PublicAffairs_Stage')?['body/outcome']}","item/ApprovalStatus":"Public Affairs Outcome: @{outputs('Approval_-_PublicAffairs_Stage')?['body/outcome']}","item/Approval_ActionComments":"Public Affairs Comments: @{items('Update_(ApplyTo)_-_PostPublicAffairs_Stage')?['comments']}","item/Approval_AssignedTo":"None - Public Affairs Team Completed","item/Approval_ActionBy":"Public Affairs Team (@{items('Update_(ApplyTo)_-_PostPublicAffairs_Stage')?['responder/email']})","item/Approval_CompletedDateTime":"@outputs('Approval_-_PublicAffairs_Stage')?['body/completionDate']","item/Text_AwardType":"Hines Hero/Happenings"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Approval_-_PublicAffairs_Stage":["Succeeded"]},"metadata":{"operationMetadataId":"e2dca309-0640-44fc-b457-c06da192958b"},"type":"Foreach"},"Update_Item_-_PrePublicAffairs_Stage":{"runAfter":{},"metadata":{"operationMetadataId":"cff7656f-c552-407b-aa54-7c0e13112c65"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@outputs('Get_Refreshed_Item_Info')?['body/ID']","item/Title":"HinesHero_@{outputs('Update_Item_-_PreTriage_Stage')?['body/ID']}","item/Approval_StatusText":"Pending: PublicAffairs_Review","item/Triage_AssignedTo":"Public Affairs Team (Matthew.Moeller@va.gov;)"},"authentication":"@parameters('$authentication')"}},"Approval_-_PublicAffairs_Stage":{"runAfter":{"Update_Item_-_PrePublicAffairs_Stage":["Succeeded"]},"metadata":{"operationMetadataId":"237d2ce6-cdf3-4e66-afdd-be7db1fb5550"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Hines Hero Award Nomination #@{triggerOutputs()?['body/ID']}","WebhookApprovalCreationInput/assignedTo":"Matthew.Moeller@va.gov; Kyle.Coder@va.gov;\n","WebhookApprovalCreationInput/details":"~testing!~\nA new award nomination packet was submitted to you (Hines Hero/Happenings Award Packet #@{triggerOutputs()?['body/ID']}), as a member of the Hines \"Public Affairs Award Sub-Committee\" team. A Triage Team member has already reviewed this award packet, and identified that the recognition is worthy of consderation for an Hines Hero Award. View a helpful infographic [by clicking this link](https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp/SitePages/NewAward_Infographic.aspx \"MS Approvals Infographic\"). Please review the details below, and either **APPROVE** or **DENY** this request if the nominee has won this award:\n\n&nbsp;  \n________________________________\nTesting - Previous Table Style:\n&nbsp;  \n| **QUESTION**                    | **ANSWER**                                                                                 |\n|:-------------------------------|:------------------------------------------------------------------------------------------|\n| **Award Type:**                | @{outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType']}                             |\n| **Nominee:**                   | @{triggerOutputs()?['Body/field_5']}                                                      |\n| **Submission Date:**           | @{outputs('Get_Refreshed_Item_Info')?['body/field_2']}                                    |\n| **Hines Hero Summary:**        | @{outputs('Get_Refreshed_Item_Info')?['body/Packet_HinesHero_Summary_Text']}              |\n| **Hines Hero Details:**        | @{outputs('Get_Refreshed_Item_Info')?['body/Packet_HinesHero_Text']}                      |\n| **Additional Comments:**       | @{triggerOutputs()?['body/field_19']}                                                     |\n| **Event Is A Safety Concern?** | @{string(triggerOutputs()?['body/SafetyBoolean'])}                                         |\n&nbsp;\n\nAs a \"Public Affairs Award Sub-Committee\" team member, you can interact with this award nomination within [Microsoft Teams (click this link)](msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals \"Microsoft Teams Approvals\"), by opening [Microsoft Approvals (click this link)](https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/approvals/received \"Microsoft PowerAutomate\"), or via an email you should have recieved from Microsoft Power Automate (flow-noreply@microsoft.com).","WebhookApprovalCreationInput/requestor":"@{triggerOutputs()?['body/field_3']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition_-_Triaged_to_ReturnToSender":{"actions":{"Update_Item_-_PreReturnToSender_Stage":{"runAfter":{},"metadata":{"operationMetadataId":"26a5fa39-13e7-4770-8942-2271761a9de4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@outputs('Get_Refreshed_Item_Info')?['body/ID']","item/Title":"ReturnToSender_@{outputs('Update_Item_-_PreTriage_Stage')?['body/ID']}","item/Approval_StatusText":"Pending: ReturnToSender_Review","item/Approval_AssignedTo":"ReturnToSender (@{outputs('Update_Item_-_PreTriage_Stage')?['body/field_3']};)"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Approval_-_Triage_Stage')?['body/responses']","actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"a457e343-f975-4b5a-b38a-61c656040fb8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Update_Item_-_PreReturnToSender_Stage')?['body/field_3']","emailMessage/Subject":"ALERT! Hines Award Nomination - Returned to Sender","emailMessage/Body":"<p><strong>[AUTOMATED EMAIL]<br>\n</strong><br>\nYou have previously submitted an award nomination packet (#@{triggerOutputs()?['body/ID']}) to the Hines \"Award Sub-Committee\", attempting to recognize an fellow employee for their great work. The responses that you provided in your nomination packet have been given an initial review, however additional information is required from you to move your packet forward. The following information has been provided to you from the Award Sub-Committee member:<br>\n<br>\n| **<strong>QUESTION</strong>** &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| **<strong>ANSWER</strong>** &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>\n|:------------------------|:----------------------------------------------|<br>\n| **<strong>Reviewer Comments:</strong>** &nbsp;| <em></em><em>@{items('Apply_to_each')?['comments']}</em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>\n| **<strong>Reviewer:</strong>** &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| <em></em><em>@{items('Apply_to_each')?['responder/email']}</em> |<br>\n<br>\n<br>\nPlease review the comments that the sub-committee has written (displayed below), and then either communicate any missing or supplementary information that is being requested to them, OR submit a new award nomination packet within <a href=\"https://apps.gov.powerapps.us/play/e/default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/a/f14182d6-e4ef-42bf-8dd2-0a628377cb77?tenantId=e95f1b23-abaf-45ee-821d-b7ab251ab3bf&amp;hint=361aa4ec-99b2-4d29-b485-8f905db4f09b&amp;sourcetime=1748349923691\">the '578 Employee Recognition' application</a>.</p>","emailMessage/From":"kyle.coder@va.gov","emailMessage/Cc":"@items('Apply_to_each')?['responder/email']","emailMessage/ReplyTo":"@items('Apply_to_each')?['responder/email']","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Item_-_PreReturnToSender_Stage":["Succeeded"]},"metadata":{"operationMetadataId":"18cc4092-d098-41c5-8a68-fe549dae44ba"},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"Condition_-_Triaged_to_Starfish_Team":{"actions":{"Update_Item_-_PreStarfishAward_Stage":{"runAfter":{},"metadata":{"operationMetadataId":"cff7656f-c552-407b-aa54-7c0e13112c65"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@outputs('Get_Refreshed_Item_Info')?['body/ID']","item/Title":"Starfish_@{outputs('Update_Item_-_PreTriage_Stage')?['body/ID']}","item/Approval_StatusText":"Pending: Starfish_Review","item/Triage_AssignedTo":"Starfish Award Team (Candice.Kent@va.gov; Sarah.Kraner@va.gov;)"},"authentication":"@parameters('$authentication')"}},"Approval_-_Starfish_Stage_2":{"runAfter":{"Update_Item_-_PreStarfishAward_Stage":["Succeeded"]},"metadata":{"operationMetadataId":"237d2ce6-cdf3-4e66-afdd-be7db1fb5550"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Starfish Award Nomination #@{triggerOutputs()?['body/ID']}","WebhookApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;\n","WebhookApprovalCreationInput/details":"@\r\nconcat(\r\n'A new award nomination packet was submitted to you (Award Packet #', triggerOutputs()?['body/ID'], '), as a member of the Hines \"Starfish Award Sub-committee\". Please review the details below, and either re-route this packet to the appropriate award sub-committee OR return this back to sender with your free-text comments to request follow-up/additional information.\r\nYou can interact with this award nomination within [Microsoft Teams](msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals) or [Microsoft Approvals](https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/approvals/received).\r\n', \r\noutputs('Compose.ICARE.Table_2')\r\n)","WebhookApprovalCreationInput/requestor":"@{outputs('Update_Item_-_PreStarfishAward_Stage')?['body/Triage_ActionBy']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('Approval_-_Starfish_Stage_2')?['body/responses']","actions":{"Update_Item_-_PostStarfishAward_Stage":{"runAfter":{},"metadata":{"operationMetadataId":"cff7656f-c552-407b-aa54-7c0e13112c65"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@outputs('Get_Refreshed_Item_Info')?['body/ID']","item/Approval_StatusText":"Completed: Starfish_@{outputs('Approval_-_Starfish_Stage_2')?['body/outcome']}","item/ApprovalStatus":"Starfish Outcome: @{outputs('Approval_-_Starfish_Stage_2')?['body/outcome']}","item/Approval_ActionComments":"<p>Starfish Comments: @{items('Apply_to_each_2')?['comments']}</p>","item/Approval_AssignedTo":"None - Starfish Team Completed","item/Approval_ActionBy":"Starfish Team (@{items('Apply_to_each_2')?['responder/email']})","item/Approval_CompletedDateTime":"@outputs('Approval_-_Starfish_Stage_2')?['body/completionDate']","item/Text_AwardType":"Starfish Award"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Approval_-_Starfish_Stage_2":["Succeeded"]},"metadata":{"operationMetadataId":"253e4706-35ce-46a9-bd74-d89d39315f54"},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"Condition_-_Triaged_to_Canceled":{"actions":{"Update_Item_(ApplyTo)_-_Triage_Canceled":{"foreach":"@outputs('Approval_-_Triage_Stage')?['body/responses']","actions":{"Update_Item_-_Triage_Canceled":{"runAfter":{},"metadata":{"operationMetadataId":"82b2d605-642a-484a-95c0-8bf503c6bda6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@outputs('Get_Refreshed_Item_Info')?['body/ID']","item/Title":"Canceled_@{outputs('Update_Item_-_PreTriage_Stage')?['body/ID']}","item/Approval_StatusText":"Canceled: Triage_@{outputs('Approval_-_Triage_Stage')?['body/outcome']}","item/Triage_Status":"@outputs('Approval_-_Triage_Stage')?['body/outcome']","item/Triage_ActionComments":"Triage Comments: @{items('Update_Item_(ApplyTo)_-_Triage_Canceled')?['comments']}","item/Triage_AssignedTo":"None - Triage Canceled","item/Triage_ActionBy":"Triage Team (@{items('Update_Item_(ApplyTo)_-_Triage_Canceled')?['responder/email']})","item/Triage_CompletedDateTime":"@{items('Update_Item_(ApplyTo)_-_Triage_Canceled')?['responseDate']} "},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"3cd01e9b-2442-4ceb-9da8-d4b6b6e27d84"},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"Send_Admin_Email_-_PostTriage_Stage_Failure":{"runAfter":{},"metadata":{"operationMetadataId":"ffbdbb05-d03c-4b21-9e65-92babe321d92"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Kyle.Coder@va.gov","emailMessage/Subject":"!PowerAutomate Flow Error! Employee Recognition App","emailMessage/Body":"<p>An error has occured in processing of an Employee Recognition App submission within the PowerAutomate Flow. Likely caused by the triaging process not ending in an expected outcome. Investigate this error that may be identified within any of the following:<br>\n<br>\n&nbsp;&nbsp;- <a href=\"https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/flows/25346afa-8afb-4473-badc-faf58d33e107/details?v3=false\">PowerAutomate Flow Details</a><br>\n&nbsp;&nbsp;- <a href=\"https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/flows/25346afa-8afb-4473-badc-faf58d33e107/runs?v3=false\">PowerAutomate Flow Run History</a><br>\n&nbsp;&nbsp;- <a href=\"https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/approvals/received\">PowerAutomate Approvals Recieved</a><br>\n&nbsp;&nbsp;- <a href=\"https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/approvals/sent\">PowerAutomate Approvals Sent</a><br>\n&nbsp;&nbsp;- <a href=\"https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/approvals/history\">PowerAutomate Approvals History</a>&nbsp;<br>\n&nbsp;&nbsp;- TriageApproval Link: @{outputs('Approval_-_Triage_Stage')?['body/itemLink']}<br>\n&nbsp;&nbsp;- SharePoint Item Link: @{outputs('Update_Item_-_PreTriage_Stage')?['body/{Link}']}<br>\n</p>","emailMessage/Importance":"High"},"authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@outputs('Approval_-_Triage_Stage')?['body/outcome']","Cancel"]},"metadata":{"operationMetadataId":"5a7b9b88-25a3-440e-a632-cf8bd5ca54bc"},"type":"If"}}},"expression":{"contains":["@outputs('Approval_-_Triage_Stage')?['body/outcome']","Forward to Starfish Team"]},"metadata":{"operationMetadataId":"65f27dc8-c36f-4677-9523-2b8e98be36de"},"type":"If"}}},"expression":{"contains":["@outputs('Approval_-_Triage_Stage')?['body/outcome']","Return to Sender"]},"metadata":{"operationMetadataId":"b0b4c296-d0ae-4f43-9e53-797d50a6b896"},"type":"If"}}},"expression":{"contains":["@outputs('Approval_-_Triage_Stage')?['body/outcome']","Forward to Public Affairs Team"]},"metadata":{"operationMetadataId":"66ab93b3-a780-4343-bc07-955241198281"},"type":"If"}}},"expression":{"contains":["@outputs('Approval_-_Triage_Stage')?['body/outcome']","Forward to HRO Team"]},"metadata":{"operationMetadataId":"0289b472-a1ab-494e-b460-cce51678d3eb"},"type":"If"}}},"expression":{"contains":["@outputs('Approval_-_Triage_Stage')?['body/outcome']","Forward to Nursing Team"]},"metadata":{"operationMetadataId":"a1909747-b7a3-4c6b-a85e-3dab41ede532"},"type":"If"},"Delay_15_Seconds_-_PostItem_Creation":{"runAfter":{},"metadata":{"operationMetadataId":"c434dc40-90d2-43b8-97e1-2e7bda263490"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"Approval_-_Triage_Stage":{"runAfter":{"Compose.ICARE.Table_2":["Succeeded"]},"metadata":{"operationMetadataId":"237d2ce6-cdf3-4e66-afdd-be7db1fb5550"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Forward to Nursing Team","Forward to HRO Team","Forward to Public Affairs Team","Forward to Starfish Team","Return to Sender/Cancel"],"WebhookApprovalCreationInput/title":"Award Triage Approval (#@{triggerOutputs()?['body/ID']})","WebhookApprovalCreationInput/assignedTo":"Christina.Conway@va.gov; Tuesday.Majors@va.gov; Candice.Kent@va.gov; Darius.Franche@va.gov; Teneshia.Hudson@va.gov; Kimberley.Richmond@va.gov; Kyle.Coder@va.gov;\n","WebhookApprovalCreationInput/details":"~testing~\nA new award nomination packet was submitted to you (Award Packet #@{triggerOutputs()?['body/ID']}), as a member of the Hines \"Award Committee Triage Team. The submitter is recommending that an Edward Hines Jr. VA Hospital employee be recognized for their outstanding actions! Please review the details below, and either re-route this packet to the appropriate award sub-committee OR return this back to sender with your free-text comments to request follow-up/additional information.\n\n&nbsp;  \n| **QUESTION**                                             | **ANSWER**                                  |\n|:-----------------------------------------------------|:----------------------------------------|\n| **Award Type:**                                        |@{outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType']}         |\n| **Nominee**                                              |@{triggerOutputs()?['body/field_5']}         |\n| **Event Date:**                                          | @{formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt')}          |\n| **Event Location:**                                      |@{triggerOutputs()?['body/field_6']}         |\n| **Event Is A Safety Concern?**                           |@{triggerOutputs()?['body/SafetyBoolean']}   |\n| **Nominee Is Part Of Nursing Services?** |@{triggerOutputs()?['body/NursingBoolean']}  |\n| **Integrity Comments:**                                  |@{triggerOutputs()?['body/field_9']}          |\n| **Commitment Comments:**                                 | @{triggerOutputs()?['body/field_11']}  |\n| **Advocacy Comments:**                                   |@{triggerOutputs()?['body/field_13']}        |\n| **Respect Comments:**                                    |@{triggerOutputs()?['body/field_13']}        |\n| **Excellence Comments:**                                 |@{triggerOutputs()?['body/field_17']}        |\n| **Additional Comments:**                                 |@{triggerOutputs()?['body/field_19']}        |\n| **Hines Hero Summary:**                                 | @{if(empty(outputs('Get_Refreshed_Item_Info')?['body/Packet_HinesHero_Summary_Text']), 'None provided', outputs('Get_Refreshed_Item_Info')?['body/Packet_HinesHero_Summary_Text'])}        |\n| **Hines Hero Details:**                                 | @{outputs('Get_Refreshed_Item_Info')?['body/Packet_HinesHero_Text']}        |\n| **HRO Context:**                                 | @{outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_Context_Text']}        |\n| **HRO Actions:**                                 | @{outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_Actions_Text']}        |\n| **HRO Results:**                                 | @{outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_Results_Text']}        |\n| **HRO Clinical Event?**                                 | @{outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_ClinicalOrNonc']}        |\n| **HRO Service Line:**                                 | @{outputs('Get_Refreshed_Item_Info')?['body/Nominee_ServiceLineOrTeam_Text']}        |\n| **HRO Principles:**                                 | @{outputs('Get_Refreshed_Item_Info')?['body/Choice_HROPrinciple']}        |\n\nAs a Hines \"Award Committee Triage Team\" member, you can interact with this award nomination within [Microsoft Teams (click this link)](msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals \"Microsoft Teams Approvals\"), by opening [Microsoft Approvals (click this link)](https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/approvals/received \"Microsoft PowerAutomate\"), or via an email you should have recieved from Microsoft Power Automate (flow-noreply@microsoft.com).","WebhookApprovalCreationInput/requestor":"@{triggerOutputs()?['body/field_3']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":false},"authentication":"@parameters('$authentication')"}},"Get_Refreshed_Item_Info":{"runAfter":{"Delay_15_Seconds_-_PostItem_Creation":["Succeeded"]},"metadata":{"operationMetadataId":"a69da704-a433-4c8c-beec-e19ca4271d56"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@triggerOutputs()?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Update_(ApplyTo)_-_PostTriage_Stage":{"foreach":"@outputs('Approval_-_Triage_Stage')?['body/responses']","actions":{"Update_Item_-_PostTriage_Stage":{"runAfter":{},"metadata":{"operationMetadataId":"fe62b640-2a45-4d53-9912-8457e1f5964b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@outputs('Get_Refreshed_Item_Info')?['body/ID']","item/Title":"Triaged_@{outputs('Get_Refreshed_Item_Info')?['body/ID']}","item/Approval_StatusText":"@items('Update_(ApplyTo)_-_PostTriage_Stage')?['approverResponse']","item/Triage_Status":"@outputs('Approval_-_Triage_Stage')?['body/outcome']","item/Triage_ActionComments":"@items('Update_(ApplyTo)_-_PostTriage_Stage')?['comments']","item/Triage_AssignedTo":"None - Triage Complete","item/Triage_ActionBy":"@items('Update_(ApplyTo)_-_PostTriage_Stage')?['responder/email']","item/Triage_CompletedDateTime":"@outputs('Approval_-_Triage_Stage')?['body/completionDate']","item/ApprovalStatus":"pending","item/Approval_ActionComments":"<p>pending</p>","item/Approval_AssignedTo":"pending","item/Approval_ActionBy":"pending"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Approval_-_Triage_Stage":["Succeeded"]},"metadata":{"operationMetadataId":"0cd8487a-4017-4bda-a39e-233a5d260cd6"},"type":"Foreach"},"Update_Item_-_PreTriage_Stage":{"runAfter":{"Get_Refreshed_Item_Info":["Succeeded"]},"metadata":{"operationMetadataId":"681934b4-b4dd-4455-a5f8-c06eda2b6eb4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@outputs('Get_Refreshed_Item_Info')?['body/ID']","item/Title":"Triage_@{outputs('Get_Refreshed_Item_Info')?['body/ID']}","item/Approval_StatusText":"Pending: Triage_Review","item/Triage_Status":"Triage Outcome: Pending","item/Triage_AssignedTo":"Triage Team (Christina.Conway@va.gov, Tuesday.Majors@va.gov, Candice.Kent@va.gov, Darius.Franche@va.gov, Teneshia.Hudson@va.gov, Kimberley.Richmond@va.gov)"},"authentication":"@parameters('$authentication')"}},"Delay_30_Seconds_-_PostTriage_Stage":{"runAfter":{"Update_(ApplyTo)_-_PostTriage_Stage":["Succeeded"]},"metadata":{"operationMetadataId":"7f32eddb-2177-45df-9e32-ce84881cce0a"},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Second"}}},"Compose_NomineeServiceLine_Text":{"runAfter":{"Compose.AdditionalComments.Text":["Succeeded"]},"metadata":{"operationMetadataId":"48cbd861-e996-4261-a94c-86db41f7c210"},"type":"Compose","inputs":"@if(\r\n    empty(\r\n        outputs('Get_Refreshed_Item_Info')?['body/Nominee_ServiceLineOrTeam_Text']\r\n        ),\r\n    'None provided', \r\n    outputs('Get_Refreshed_Item_Info')?['body/Nominee_ServiceLineOrTeam_Text']\r\n)"},"Compose_HROClinicOrNonclinic_Text":{"runAfter":{"Compose_HROPrinciples_Text":["Succeeded"]},"metadata":{"operationMetadataId":"d2874843-59bb-4a2d-856d-eae6098544f7"},"type":"Compose","inputs":"@if(\r\n    empty(\r\n        outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_ClinicalOrNonc']\r\n        ),\r\n    'None provided', \r\n    outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_ClinicalOrNonc']\r\n)"},"Compose_HROResults_Text":{"runAfter":{"Compose_HROClinicOrNonclinic_Text":["Succeeded"]},"metadata":{"operationMetadataId":"d28cd409-8616-448a-b1fb-b9109c950149"},"type":"Compose","inputs":"@if(\r\n    empty(\r\n        outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_Results_Text']\r\n        ),\r\n    'None provided', \r\n    outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_Results_Text']\r\n)"},"Compose_HROActions_Text":{"runAfter":{"Compose_HROResults_Text":["Succeeded"]},"metadata":{"operationMetadataId":"3919f857-d295-4b4d-abf0-3323ad23e82d"},"type":"Compose","inputs":"@if(\r\n    empty(\r\n        outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_Actions_Text']\r\n        ),\r\n    'None provided', \r\n    outputs('Get_Refreshed_Item_Info')?['body/Packet_GreatCatch_Actions_Text']\r\n)"},"Compose_HROContext_Text":{"runAfter":{"Compose_HROActions_Text":["Succeeded"]},"metadata":{"operationMetadataId":"88e02129-d287-4254-8588-6576379c0883"},"type":"Compose","inputs":"@if(\r\n    empty(\r\n        outputs('Update_Item_-_PreTriage_Stage')?['body/Packet_GreatCatch_Context_Text']\r\n        ),\r\n    'None provided', \r\n    outputs('Update_Item_-_PreTriage_Stage')?['body/Packet_GreatCatch_Context_Text']\r\n)"},"Compose_HinesHero_Details_Text":{"runAfter":{"Compose_HROContext_Text":["Succeeded"]},"metadata":{"operationMetadataId":"cf26b7ac-b93c-43b7-9fe3-d3887ff8fe79"},"type":"Compose","inputs":"@if(\r\n    empty(outputs('Update_Item_-_PreTriage_Stage')?['body/Packet_HinesHero_Text']), \r\n    'None provided', \r\n    outputs('Update_Item_-_PreTriage_Stage')?['body/Packet_HinesHero_Text']\r\n)"},"Compose_HinesHero_Summary_Text":{"runAfter":{"Compose_HinesHero_Details_Text":["Succeeded"]},"metadata":{"operationMetadataId":"40a4701c-376c-4a16-8954-013daafc980e"},"type":"Compose","inputs":"@if(empty(outputs('Get_Refreshed_Item_Info')?['body/Packet_HinesHero_Summary_Text']), 'None provided', outputs('Get_Refreshed_Item_Info')?['body/Packet_HinesHero_Summary_Text'])"},"Compose_HROPrinciples_Text":{"runAfter":{"Compose_NomineeServiceLine_Text":["Succeeded"]},"metadata":{"operationMetadataId":"6bb37500-f3c1-477d-b997-0c29d61c04d5"},"type":"Compose","inputs":"@if(\r\n    empty(\r\n        outputs('Get_Refreshed_Item_Info')?['body/Choice_HROPrinciple']\r\n        ),\r\n    'None provided', \r\n    outputs('Get_Refreshed_Item_Info')?['body/Choice_HROPrinciple']\r\n)"},"Compose.Location.Text":{"runAfter":{"Update_Item_-_PreTriage_Stage":["Succeeded"]},"metadata":{"operationMetadataId":"3895ae2b-c8e4-4802-9546-52d87e364e6b"},"type":"Compose","inputs":"@if(\r\n    empty(\r\n        triggerOutputs()?['body/field_6']\r\n        ),\r\n    'None provided', \r\n    triggerOutputs()?['body/field_6']\r\n)"},"Compose.Integrity.Text":{"runAfter":{"Compose.Location.Text":["Succeeded"]},"metadata":{"operationMetadataId":"7abca8c2-919f-4e32-8778-6f06387495c0"},"type":"Compose","inputs":"@if(\r\n    empty(\r\n        triggerOutputs()?['body/field_9']\r\n        ),\r\n    'None provided', \r\n    triggerOutputs()?['body/field_9']\r\n)"},"Compose.Commitment.Text":{"runAfter":{"Compose.Integrity.Text":["Succeeded"]},"metadata":{"operationMetadataId":"a2807826-3d41-4c69-b0b7-92f4e7fcbcbf"},"type":"Compose","inputs":"@if(\r\n    empty(\r\n        triggerOutputs()?['body/field_11']\r\n        ),\r\n    'None provided', \r\n    triggerOutputs()?['body/field_11']\r\n)"},"Compose.Advocacy.Text":{"runAfter":{"Compose.Commitment.Text":["Succeeded"]},"metadata":{"operationMetadataId":"35723865-2e02-46db-aa6f-bbbbd6c6e799"},"type":"Compose","inputs":"@if(\r\n    empty(\r\n        triggerOutputs()?['body/field_13']\r\n        ),\r\n    'None provided', \r\n    triggerOutputs()?['body/field_13']\r\n)"},"Compose.Respect.Text":{"runAfter":{"Compose.Advocacy.Text":["Succeeded"]},"metadata":{"operationMetadataId":"63a2ddcd-59b8-4231-9def-a8a29a46309e"},"type":"Compose","inputs":"@if(\r\n    empty(\r\n        triggerOutputs()?['body/field_15']\r\n        ),\r\n    'None provided', \r\n    triggerOutputs()?['body/field_15']\r\n)"},"Compose.Excellence.Text":{"runAfter":{"Compose.Respect.Text":["Succeeded"]},"metadata":{"operationMetadataId":"f109fd80-f4ee-41e3-bef4-df0dc0519573"},"type":"Compose","inputs":"@if(\r\n    empty(\r\n        triggerOutputs()?['body/field_17']\r\n        ),\r\n    'None provided', \r\n    triggerOutputs()?['body/field_17']\r\n)"},"Compose.AdditionalComments.Text":{"runAfter":{"Compose.Excellence.Text":["Succeeded"]},"metadata":{"operationMetadataId":"6931a1de-39b3-4ce1-9d02-de8088f8869e"},"type":"Compose","inputs":"@if(\r\n    empty(\r\n        triggerOutputs()?['body/field_19']\r\n        ),\r\n    'None provided', \r\n    triggerOutputs()?['body/field_19']\r\n)"},"Delay_2":{"runAfter":{"Compose.ICARE.Table_2":["Succeeded"]},"metadata":{"operationMetadataId":"b16ea1f9-9492-47f3-9154-b33174d9b47c"},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}},"Condition":{"actions":{"Compose.ICARE.Table":{"runAfter":{},"metadata":{"operationMetadataId":"f40d3dac-1fd6-4430-bf12-830c9342040f"},"type":"Compose","inputs":"@concat(\n'| **QUESTION** | **RESPONSE** |\n|:----------|:----------|\n',\nif(not(equals(outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'],'None provided')), \n   concat('| **Award Type** | ', outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'], ' |\n'), \n   ''),\nif(not(equals(triggerOutputs()?['body/field_5'],'None provided')), \n   concat('| **Nominee''s Name** | ', triggerOutputs()?['body/field_5'], ' |\n'), \n   ''),\nif(not(equals(formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'),'None provided')), \n   concat('| **Event Date** | ', formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Location.Text'),'None provided')), \n   concat('| **Location** | ', outputs('Compose.Location.Text'), ' |\n'), \n   ''),\nif(not(equals(triggerOutputs()?['body/SafetyBoolean'],'None provided')), \n   concat('| **Event is a safety concern** | ', triggerOutputs()?['body/SafetyBoolean'], ' |\n'), \n   ''),\nif(not(equals(triggerOutputs()?['body/NursingBoolean'],'No')), \n   concat('| **Nominee part of Nursing Service** | ', triggerOutputs()?['body/NursingBoolean'], ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Integrity.Text'),'None provided')), \n   concat('| **Integrity Comments** | ', outputs('Compose.Integrity.Text'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Commitment.Text'),'None provided')), \n   concat('| **Commitment Comments** | ', outputs('Compose.Commitment.Text'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Advocacy.Text'),'None provided')), \n   concat('| **Advocacy Comments** | ', outputs('Compose.Advocacy.Text'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Respect.Text'),'None provided')), \n   concat('| **Respect Comments** | ', outputs('Compose.Respect.Text'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Excellence.Text'),'None provided')), \n   concat('| **Excellence Comments** | ', outputs('Compose.Excellence.Text'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.AdditionalComments.Text'),'None provided')), \n   concat('| **Additional Comments** | ', outputs('Compose.AdditionalComments.Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_NomineeServiceLine_Text')), equals(outputs('Compose_NomineeServiceLine_Text'),'None provided'))), \n   concat('| **Nominee''s Service Line** | ', outputs('Compose_NomineeServiceLine_Text'), ' |\n'), \n   '')\n)"},"Approval_-_Triage_Stage_4":{"runAfter":{"Compose.ICARE.Table":["Succeeded"]},"metadata":{"operationMetadataId":"237d2ce6-cdf3-4e66-afdd-be7db1fb5550"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Forward to Nursing Team","Forward to HRO Team","Forward to Public Affairs Team","Return to Sender"],"WebhookApprovalCreationInput/title":"StarfishTestICARE_Award Triage Approval (#@{triggerOutputs()?['body/ID']})","WebhookApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;\n","WebhookApprovalCreationInput/details":"@concat(\n'A new award nomination packet was submitted to you (Award Packet #', triggerOutputs()?['body/ID'], '), as a member of the Hines Award Committee Triage Team. Please review the details below, and either re-route this packet to the appropriate award sub-committee OR return this back to sender with your free-text comments to request follow-up/additional information.\n\nYou can interact with this award nomination within [Microsoft Teams](msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals) or [Microsoft Approvals](https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/approvals/received).\n\n', \noutputs('Compose.ICARE.Table')\n)","WebhookApprovalCreationInput/itemLink":"msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals","WebhookApprovalCreationInput/itemLinkDescription":"Review & act on this nomination HERE!","WebhookApprovalCreationInput/requestor":"@{triggerOutputs()?['body/field_3']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Delay_2":["Succeeded"]},"else":{"actions":{"Condition_2":{"actions":{"Compose.HinesHero.Table":{"runAfter":{},"metadata":{"operationMetadataId":"26f4ec1b-4c17-49e7-b05c-ad4f5065a73d"},"type":"Compose","inputs":"@concat(\n'| **QUESTION** | **RESPONSE** |\n|:----------|:----------|\n',\nif(not(equals(outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'],'None provided')), \n   concat('| **Award Type** | ', outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'], ' |\n'), \n   ''),\nif(not(equals(triggerOutputs()?['body/field_5'],'None provided')), \n   concat('| **Nominee''s Name** | ', triggerOutputs()?['body/field_5'], ' |\n'), \n   ''),\nif(not(equals(formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'),'None provided')), \n   concat('| **Event Date** | ', formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Location.Text'),'None provided')), \n   concat('| **Location** | ', outputs('Compose.Location.Text'), ' |\n'), \n   ''),\nif(not(equals(triggerOutputs()?['body/SafetyBoolean'],'None provided')), \n   concat('| **Event is a safety concern** | ', triggerOutputs()?['body/SafetyBoolean'], ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HinesHero_Summary_Text')), equals(outputs('Compose_HinesHero_Summary_Text'),'None provided'))), \n   concat('| **Hines Hero Summary** | ', outputs('Compose_HinesHero_Summary_Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HinesHero_Details_Text')), equals(outputs('Compose_HinesHero_Details_Text'),'None provided'))), \n   concat('| **Hines Hero Details** | ', outputs('Compose_HinesHero_Details_Text'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.AdditionalComments.Text'),'None provided')), \n   concat('| **Additional Comments** | ', outputs('Compose.AdditionalComments.Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_NomineeServiceLine_Text')), equals(outputs('Compose_NomineeServiceLine_Text'),'None provided'))), \n   concat('| **Nominee''s Service Line** | ', outputs('Compose_NomineeServiceLine_Text'), ' |\n'), \n   '')\n)"},"Approval_-_Triage_Stage_5":{"runAfter":{"Compose.HinesHero.Table":["Succeeded"]},"metadata":{"operationMetadataId":"237d2ce6-cdf3-4e66-afdd-be7db1fb5550"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Forward to Nursing Team","Forward to HRO Team","Forward to Public Affairs Team","Return to Sender"],"WebhookApprovalCreationInput/title":"SecondaryHinesHeroTest_Award Triage Approval (#@{triggerOutputs()?['body/ID']})","WebhookApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;\n","WebhookApprovalCreationInput/details":"@concat(\n'A new award nomination packet was submitted to you (Award Packet #', triggerOutputs()?['body/ID'], '), as a member of the Hines Award Committee Triage Team. Please review the details below, and either re-route this packet to the appropriate award sub-committee OR return this back to sender with your free-text comments to request follow-up/additional information.\n\nYou can interact with this award nomination within [Microsoft Teams](msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals) or [Microsoft Approvals](https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/approvals/received).\n\n', \noutputs('Compose.HinesHero.Table')\n)","WebhookApprovalCreationInput/itemLink":"msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals","WebhookApprovalCreationInput/itemLinkDescription":"Review & act on this nomination HERE!","WebhookApprovalCreationInput/requestor":"@{triggerOutputs()?['body/field_3']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition_3":{"actions":{"Compose.HRO.Table":{"runAfter":{},"metadata":{"operationMetadataId":"8f6f4479-4e07-47cd-977a-95d35b96bfe9"},"type":"Compose","inputs":"@concat(\n'| **QUESTION** | **RESPONSE** |\n|:----------|:----------|\n',\nif(not(equals(outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'],'None provided')), \n   concat('| **Award Type** | ', outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'], ' |\n'), \n   ''),\nif(not(equals(triggerOutputs()?['body/field_5'],'None provided')), \n   concat('| **Nominee''s Name** | ', triggerOutputs()?['body/field_5'], ' |\n'), \n   ''),\nif(not(equals(formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'),'None provided')), \n   concat('| **Event Date** | ', formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Location.Text'),'None provided')), \n   concat('| **Location** | ', outputs('Compose.Location.Text'), ' |\n'), \n   ''),\nif(not(equals(triggerOutputs()?['body/SafetyBoolean'],'None provided')), \n   concat('| **Event is a safety concern** | ', triggerOutputs()?['body/SafetyBoolean'], ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HROContext_Text')), equals(outputs('Compose_HROContext_Text'),'None provided'))), \n   concat('| **HRO Context** | ', outputs('Compose_HROContext_Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HROActions_Text')), equals(outputs('Compose_HROActions_Text'),'None provided'))), \n   concat('| **HRO Actions** | ', outputs('Compose_HROActions_Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HROResults_Text')), equals(outputs('Compose_HROResults_Text'),'None provided'))), \n   concat('| **HRO Results** | ', outputs('Compose_HROResults_Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HROPrinciples_Text')), equals(outputs('Compose_HROPrinciples_Text'),'None provided'))), \n   concat('| **HRO Principles** | ', outputs('Compose_HROPrinciples_Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HROClinicOrNonclinic_Text')), equals(outputs('Compose_HROClinicOrNonclinic_Text'),'None provided'))), \n   concat('| **Clinical or Non-clinical** | ', outputs('Compose_HROClinicOrNonclinic_Text'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.AdditionalComments.Text'),'None provided')), \n   concat('| **Additional Comments** | ', outputs('Compose.AdditionalComments.Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_NomineeServiceLine_Text')), equals(outputs('Compose_NomineeServiceLine_Text'),'None provided'))), \n   concat('| **Nominee''s Service Line** | ', outputs('Compose_NomineeServiceLine_Text'), ' |\n'), \n   '')\n)"},"Approval_-_Triage_Stage_6":{"runAfter":{"Compose.HRO.Table":["Succeeded"]},"metadata":{"operationMetadataId":"237d2ce6-cdf3-4e66-afdd-be7db1fb5550"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Forward to Nursing Team","Forward to HRO Team","Forward to Public Affairs Team","Return to Sender"],"WebhookApprovalCreationInput/title":"SecondaryHROTest_Award Triage Approval (#@{triggerOutputs()?['body/ID']})","WebhookApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;\n","WebhookApprovalCreationInput/details":"@concat(\n'A new award nomination packet was submitted to you (Award Packet #', triggerOutputs()?['body/ID'], '), as a member of the Hines Award Committee Triage Team. Please review the details below, and either re-route this packet to the appropriate award sub-committee OR return this back to sender with your free-text comments to request follow-up/additional information.\n\nYou can interact with this award nomination within [Microsoft Teams](msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals) or [Microsoft Approvals](https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/approvals/received).\n\n', \noutputs('Compose.HRO.Table')\n)","WebhookApprovalCreationInput/itemLink":"msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals","WebhookApprovalCreationInput/itemLinkDescription":"Review & act on this nomination HERE!","WebhookApprovalCreationInput/requestor":"@{triggerOutputs()?['body/field_3']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Compose.Master.Table":{"runAfter":{},"metadata":{"operationMetadataId":"89c8a3c9-0102-4316-a198-1f54fb0c7897"},"type":"Compose","inputs":"@concat(\n'| **QUESTION** | **RESPONSE** |\n|:----------|:----------|\n',\nif(not(equals(outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'],'None provided')), \n   concat('| **Award Type** | ', outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'], ' |\n'), \n   ''),\nif(not(equals(triggerOutputs()?['body/field_5'],'None provided')), \n   concat('| **Nominee''s Name** | ', triggerOutputs()?['body/field_5'], ' |\n'), \n   ''),\nif(not(equals(formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'),'None provided')), \n   concat('| **Event Date** | ', formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Location.Text'),'None provided')), \n   concat('| **Location** | ', outputs('Compose.Location.Text'), ' |\n'), \n   ''),\nif(not(equals(triggerOutputs()?['body/SafetyBoolean'],'None provided')), \n   concat('| **Event is a safety concern** | ', triggerOutputs()?['body/SafetyBoolean'], ' |\n'), \n   ''),\nif(not(equals(triggerOutputs()?['body/NursingBoolean'],'No')), \n   concat('| **Nominee part of Nursing Service** | ', triggerOutputs()?['body/NursingBoolean'], ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HROContext_Text')), equals(outputs('Compose_HROContext_Text'),'None provided'))), \n   concat('| **HRO Context** | ', outputs('Compose_HROContext_Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HROActions_Text')), equals(outputs('Compose_HROActions_Text'),'None provided'))), \n   concat('| **HRO Actions** | ', outputs('Compose_HROActions_Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HROResults_Text')), equals(outputs('Compose_HROResults_Text'),'None provided'))), \n   concat('| **HRO Results** | ', outputs('Compose_HROResults_Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HROPrinciples_Text')), equals(outputs('Compose_HROPrinciples_Text'),'None provided'))), \n   concat('| **HRO Principles** | ', outputs('Compose_HROPrinciples_Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HROClinicOrNonclinic_Text')), equals(outputs('Compose_HROClinicOrNonclinic_Text'),'None provided'))), \n   concat('| **Clinical or Non-clinical** | ', outputs('Compose_HROClinicOrNonclinic_Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HinesHero_Summary_Text')), equals(outputs('Compose_HinesHero_Summary_Text'),'None provided'))), \n   concat('| **Hines Hero Summary** | ', outputs('Compose_HinesHero_Summary_Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_HinesHero_Details_Text')), equals(outputs('Compose_HinesHero_Details_Text'),'None provided'))), \n   concat('| **Hines Hero Details** | ', outputs('Compose_HinesHero_Details_Text'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Integrity.Text'),'None provided')), \n   concat('| **Integrity Comments** | ', outputs('Compose.Integrity.Text'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Commitment.Text'),'None provided')), \n   concat('| **Commitment Comments** | ', outputs('Compose.Commitment.Text'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Advocacy.Text'),'None provided')), \n   concat('| **Advocacy Comments** | ', outputs('Compose.Advocacy.Text'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Respect.Text'),'None provided')), \n   concat('| **Respect Comments** | ', outputs('Compose.Respect.Text'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.Excellence.Text'),'None provided')), \n   concat('| **Excellence Comments** | ', outputs('Compose.Excellence.Text'), ' |\n'), \n   ''),\nif(not(equals(outputs('Compose.AdditionalComments.Text'),'None provided')), \n   concat('| **Additional Comments** | ', outputs('Compose.AdditionalComments.Text'), ' |\n'), \n   ''),\nif(not(or(empty(outputs('Compose_NomineeServiceLine_Text')), equals(outputs('Compose_NomineeServiceLine_Text'),'None provided'))), \n   concat('| **Nominee''s Service Line** | ', outputs('Compose_NomineeServiceLine_Text'), ' |\n'), \n   '')\n)"},"Approval_-_Triage_Stage_2":{"runAfter":{"Compose.Master.Table":["Succeeded"]},"metadata":{"operationMetadataId":"237d2ce6-cdf3-4e66-afdd-be7db1fb5550"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Forward to Nursing Team","Forward to HRO Team","Forward to Public Affairs Team","Return to Sender"],"WebhookApprovalCreationInput/title":"SecondaryTestUNKNOWN_Award Triage Approval (#@{triggerOutputs()?['body/ID']})","WebhookApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;\n","WebhookApprovalCreationInput/details":"@concat(\n'A new award nomination packet was submitted to you (Award Packet #', triggerOutputs()?['body/ID'], '), as a member of the Hines Award Committee Triage Team. Please review the details below, and either re-route this packet to the appropriate award sub-committee OR return this back to sender with your free-text comments to request follow-up/additional information.\n\nYou can interact with this award nomination within [Microsoft Teams](msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals) or [Microsoft Approvals](https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/approvals/received).\n\n', \noutputs('Compose.Master.Table')\n)","WebhookApprovalCreationInput/itemLink":"msteams://teams.microsoft.com/l/entity/2d4edd75-5a69-41da-bead-44c3a268ece8/approvals","WebhookApprovalCreationInput/itemLinkDescription":"Review & act on this nomination HERE!","WebhookApprovalCreationInput/requestor":"@{triggerOutputs()?['body/field_3']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":false},"authentication":"@parameters('$authentication')"}}}},"expression":{"or":[{"contains":["@outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType']","HRO"]},{"contains":["@outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType']","Safety Story"]},{"contains":["@outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType']","Great Catch"]},{"contains":["@outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType']","HeRO"]}]},"metadata":{"operationMetadataId":"34946f68-2dbf-4ae7-bb7a-a91c221b0f70"},"type":"If"}}},"expression":{"contains":["@outputs('Update_Item_-_PreTriage_Stage')?['body/Text_AwardType']","Hines Hero"]},"metadata":{"operationMetadataId":"c9df8d2c-88e8-4ea3-8de8-93b5301334f5"},"type":"If"}}},"expression":{"or":[{"contains":["@outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType']","Daisy Award"]},{"contains":["@outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType']","Nursing Bee Award"]},{"contains":["@outputs('Update_Item_-_PreTriage_Stage')?['body/Text_AwardType']","Starfish"]},{"contains":["@outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType']","I*CARE"]}]},"metadata":{"operationMetadataId":"1ac29e48-8740-4691-9ae7-ca5795db17cf"},"type":"If"},"Compose.ICARE.Table_2":{"runAfter":{"Compose.HinesHero.Table_2":["Succeeded"]},"metadata":{"operationMetadataId":"f40d3dac-1fd6-4430-bf12-830c9342040f"},"type":"Compose","inputs":"@concat(\nconcat(\nif(not(equals(outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'],'None provided')), concat('**Award Type:**  ', outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'], '\n'), '')\n),\nconcat(\nif(not(equals(triggerOutputs()?['body/field_5'],'None provided')), concat('**Nominee''s Name:**  ', triggerOutputs()?['body/field_5'], '\n'), '')\n),\nconcat(\nif(not(equals(formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'),'None provided')), concat('**Event Date:**  ', formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'), '\n'), '')\n),\nconcat(\nif(not(equals(outputs('Compose.Location.Text'),'None provided')), concat('**Location:**  ', outputs('Compose.Location.Text'), '\n'), '')\n),\nconcat(\nif(not(equals(triggerOutputs()?['body/SafetyBoolean'],'None provided')), concat('**Event is a safety concern:**  ', triggerOutputs()?['body/SafetyBoolean'], '\n'), '')\n),\nconcat(\nif(not(equals(triggerOutputs()?['body/NursingBoolean'],'No')), concat('**Nominee part of Nursing Service:**  ', triggerOutputs()?['body/NursingBoolean'], '\n'), '')\n),\nconcat(\nif(not(equals(outputs('Compose.Integrity.Text'),'None provided')), concat('**Integrity Comments:**  ', outputs('Compose.Integrity.Text'), '\n'), '')\n),\nconcat(\nif(not(equals(outputs('Compose.Commitment.Text'),'None provided')), concat('**Commitment Comments:**  ', outputs('Compose.Commitment.Text'), '\n'), '')\n),\nconcat(\nif(not(equals(outputs('Compose.Advocacy.Text'),'None provided')), concat('**Advocacy Comments:**  ', outputs('Compose.Advocacy.Text'), '\n'), '')\n),\nconcat(\nif(not(equals(outputs('Compose.Respect.Text'),'None provided')), concat('**Respect Comments:**  ', outputs('Compose.Respect.Text'), '\n'), '')\n),\nconcat(\nif(not(equals(outputs('Compose.Excellence.Text'),'None provided')), concat('**Excellence Comments:**  ', outputs('Compose.Excellence.Text'), '\n'), '')\n),\nconcat(\nif(not(equals(outputs('Compose.AdditionalComments.Text'),'None provided')), concat('**Additional Comments:**  ', outputs('Compose.AdditionalComments.Text'), '\n'), '')\n),\nconcat(\nif(not(or(empty(outputs('Compose_NomineeServiceLine_Text')), equals(outputs('Compose_NomineeServiceLine_Text'),'None provided'))), concat('**Nominee''s Service Line:**  ', outputs('Compose_NomineeServiceLine_Text'), '\n'), '')\n)\n)"},"Compose.HinesHero.Table_2":{"runAfter":{"Compose.HRO.Table_2":["Succeeded"]},"metadata":{"operationMetadataId":"26f4ec1b-4c17-49e7-b05c-ad4f5065a73d"},"type":"Compose","inputs":"@concat(\nconcat(\nif(not(equals(outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'],'None provided')), concat('**Award Type:**  ', outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'], '\n'), '')\n),\nconcat(\nif(not(equals(triggerOutputs()?['body/field_5'],'None provided')), concat('**Nominee''s Name:**  ', triggerOutputs()?['body/field_5'], '\n'), '')\n),\nconcat(\nif(not(equals(formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'),'None provided')), concat('**Event Date:**  ', formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'), '\n'), '')\n),\nconcat(\nif(not(equals(outputs('Compose.Location.Text'),'None provided')), concat('**Location:**  ', outputs('Compose.Location.Text'), '\n'), '')\n),\nconcat(\nif(not(equals(triggerOutputs()?['body/SafetyBoolean'],'None provided')), concat('**Event is a safety concern:**  ', triggerOutputs()?['body/SafetyBoolean'], '\n'), '')\n),\nconcat(\nif(not(or(empty(outputs('Compose_HinesHero_Summary_Text')), equals(outputs('Compose_HinesHero_Summary_Text'),'None provided'))), concat('**Hines Hero Summary:**  ', outputs('Compose_HinesHero_Summary_Text'), '\n'), '')\n),\nconcat(\nif(not(or(empty(outputs('Compose_HinesHero_Details_Text')), equals(outputs('Compose_HinesHero_Details_Text'),'None provided'))), concat('**Hines Hero Details:**  ', outputs('Compose_HinesHero_Details_Text'), '\n'), '')\n),\nconcat(\nif(not(equals(outputs('Compose.AdditionalComments.Text'),'None provided')), concat('**Additional Comments:**  ', outputs('Compose.AdditionalComments.Text'), '\n'), '')\n),\nconcat(\nif(not(or(empty(outputs('Compose_NomineeServiceLine_Text')), equals(outputs('Compose_NomineeServiceLine_Text'),'None provided'))), concat('**Nominee''s Service Line:**  ', outputs('Compose_NomineeServiceLine_Text'), '\n'), '')\n)\n)"},"Compose.HRO.Table_2":{"runAfter":{"Compose_HinesHero_Summary_Text":["Succeeded"]},"metadata":{"operationMetadataId":"8f6f4479-4e07-47cd-977a-95d35b96bfe9"},"type":"Compose","inputs":"@concat(\nconcat(\nif(not(equals(outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'],'None provided')), concat('**Award Type:**  ', outputs('Get_Refreshed_Item_Info')?['body/Text_AwardType'], '\n'), '')\n),\nconcat(\nif(not(equals(triggerOutputs()?['body/field_5'],'None provided')), concat('**Nominee''s Name:**  ', triggerOutputs()?['body/field_5'], '\n'), '')\n),\nconcat(\nif(not(equals(formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'),'None provided')), concat('**Event Date:**  ', formatDateTime(convertTimeZone(triggerOutputs()?['body/field_7'], 'UTC', 'Central Standard Time'), 'MM/dd/yyyy hh:mm tt'), '\n'), '')\n),\nconcat(\nif(not(equals(outputs('Compose.Location.Text'),'None provided')), concat('**Location:**  ', outputs('Compose.Location.Text'), '\n'), '')\n),\nconcat(\nif(not(equals(triggerOutputs()?['body/SafetyBoolean'],'None provided')), concat('**Event is a safety concern:**  ', triggerOutputs()?['body/SafetyBoolean'], '\n'), '')\n),\nconcat(\nif(not(or(empty(outputs('Compose_HROContext_Text')), equals(outputs('Compose_HROContext_Text'),'None provided'))), concat('**HRO Context:**  ', outputs('Compose_HROContext_Text'), '\n'), '')\n),\nconcat(\nif(not(or(empty(outputs('Compose_HROActions_Text')), equals(outputs('Compose_HROActions_Text'),'None provided'))), concat('**HRO Actions:**  ', outputs('Compose_HROActions_Text'), '\n'), '')\n),\nconcat(\nif(not(or(empty(outputs('Compose_HROResults_Text')), equals(outputs('Compose_HROResults_Text'),'None provided'))), concat('**HRO Results:**  ', outputs('Compose_HROResults_Text'), '\n'), '')\n),\nconcat(\nif(not(or(empty(outputs('Compose_HROPrinciples_Text')), equals(outputs('Compose_HROPrinciples_Text'),'None provided'))), concat('**HRO Principles:**  ', outputs('Compose_HROPrinciples_Text'), '\n'), '')\n),\nconcat(\nif(not(or(empty(outputs('Compose_HROClinicOrNonclinic_Text')), equals(outputs('Compose_HROClinicOrNonclinic_Text'),'None provided'))), concat('**Clinical or Non-clinical:**  ', outputs('Compose_HROClinicOrNonclinic_Text'), '\n'), '')\n),\nconcat(\nif(not(equals(outputs('Compose.AdditionalComments.Text'),'None provided')), concat('**Additional Comments:**  ', outputs('Compose.AdditionalComments.Text'), '\n'), '')\n),\nconcat(\nif(not(or(empty(outputs('Compose_NomineeServiceLine_Text')), equals(outputs('Compose_NomineeServiceLine_Text'),'None provided'))), concat('**Nominee''s Service Line:**  ', outputs('Compose_NomineeServiceLine_Text'), '\n'), '')\n)\n)"}}},"connectionReferences":{"shared_sharepointonline_1":{"connectionName":"58db033b3c1f4a38bcdbc2414d4e77af","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_approvals":{"connectionName":"shared-approvals-9d9f43a2-7e90-43b1-8e52-e749d602e126","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified","apiName":"approvals","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"b5ded37f60204c5e9bdc2373272335c6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}