src/v1.0.x/v1.0.0/power-automate/.unpacked/flow_PatientSafetyEvent/PatientSafetyEvent_definition.json
{"name":"b8d03bc2-ca29-4710-a1fb-a1dee66129a2","id":"/providers/Microsoft.Flow/flows/b8d03bc2-ca29-4710-a1fb-a1dee66129a2","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"578 Employee Recognition App (SafetyCheck Chatbot)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ec4f9b5d-fe24-466f-a4af-0d030edc3f90","type":"User","tenantId":"e95f1b23-abaf-45ee-821d-b7ab251ab3bf"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-08-04T13:51:16.2457516Z","connectionKeySavedTimeKey":"2025-08-04T13:51:16.2457516Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"5676492d-ceb1-4e58-8f53-71e03ac66f66"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6"},"authentication":"@parameters('$authentication')"}}},"actions":{"Delay_15_Seconds_-_PostItem_Creation":{"runAfter":{},"metadata":{"operationMetadataId":"c434dc40-90d2-43b8-97e1-2e7bda263490"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Get_Refreshed_Item_Info":{"runAfter":{"Delay_15_Seconds_-_PostItem_Creation":["Succeeded"]},"metadata":{"operationMetadataId":"a69da704-a433-4c8c-beec-e19ca4271d56"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@triggerOutputs()?['body/ID']"},"authentication":"@parameters('$authentication')"}},"FlowBot_Chat_-_Thank_you_for_Submitting!":{"runAfter":{"Delay_5_Seconds_-_PreThankYouForSubmission":["Succeeded"]},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{triggerOutputs()?['body/field_3']};","body/messageBody":"<p>Thank you<strong> </strong><strong>@{outputs('Get_Refreshed_Item_Info')?['body/field_4']}</strong><strong></strong>, for taking the time to recognize the dedication &amp; great work of<strong> </strong><strong>@{outputs('Get_Refreshed_Item_Info')?['body/field_5']}</strong><strong></strong>. The information you have submitted in the '<a href=\"https://apps.gov.powerapps.us/play/e/default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/a/f14182d6-e4ef-42bf-8dd2-0a628377cb77?tenantId=e95f1b23-abaf-45ee-821d-b7ab251ab3bf&amp;hint=361aa4ec-99b2-4d29-b485-8f905db4f09b&amp;sourcetime=1744814646037\">578 Employee Recognition</a>' app (packet #@{outputs('Get_Refreshed_Item_Info')?['body/ID']}) has been successfully routed for review to the Award Commitee here at the Edward Hines Jr. VA Hospital. <br>\n<br>\n<u><em><strong>No further action is needed from you at this time!</strong></em></u> Someone from the Award Committee may possibly contact you if any additional information is necessary.</p>","body/isAlert":true},"authentication":"@parameters('$authentication')"}},"Delay_5_Seconds_-_PreThankYouForSubmission":{"runAfter":{"Get_Refreshed_Item_Info":["Succeeded"]},"metadata":{"operationMetadataId":"88854e31-65cc-4d82-9d0b-d46b851457d7"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Minute"}}},"Delay_6_Minutes_-_PreSafety_Check":{"runAfter":{"Get_Refreshed_Item_Info":["Succeeded"]},"metadata":{"operationMetadataId":"e4e2fb40-adb5-4320-ace7-5d7bae497e1b"},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}},"InitializeVariable_-_reminderCount_FlowVariable":{"runAfter":{"Delay_6_Minutes_-_PreSafety_Check":["Succeeded"]},"metadata":{"operationMetadataId":"e689fb97-fd6f-4c83-ac37-ef9de55c5c46"},"type":"InitializeVariable","inputs":{"variables":[{"name":"reminderCount_FlowVariable","type":"integer","value":1}]}},"Condition_-_SafetyBoolean_Check_NO":{"actions":{"FlowBot_Chat_-_SafetyBoolean_NO_Thank_You":{"runAfter":{},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","body/messageBody":"<p><span style=\"font-size: 16px\"><strong>Thank you again for your recent award submission!</strong></span><strong><br>\n<br>\n</strong>While you indicated in your award submission (packet #@{outputs('Get_Refreshed_Item_Info')?['body/ID']}) that this event might not require a formal patient safety report, please remember that you can always submit <u><em>any potential or actual safety events</em></u> within the '<a href=\"https://patientsafety.csd.disa.mil/index.php?form_id=2&amp;module=INC\">Joint Patient Safety Reporting (JPSR)</a>' system.</p>","body/isAlert":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{"InitializeVariable_-_reminderCount_FlowVariable":["Succeeded"]},"else":{"actions":{"Condition_-_SafetyBoolean_Check_YES":{"actions":{"Delay_5_Seconds_(Under_YES)":{"runAfter":{},"metadata":{"operationMetadataId":"e026028f-5c5c-46b2-a5a6-2c30e3174c60"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"DoUntil_-_CheckForResponse_to_PostChoiceOfOptions_(Under_YES)":{"actions":{"Delay_5":{"runAfter":{},"metadata":{"operationMetadataId":"9bb13df1-d488-475b-a6c9-52005adff498"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"PostChoiceOptionsAsFlowbot_(Under_YES)":{"runAfter":{"Delay_5":["Succeeded"]},"limit":{"timeout":"PT6H"},"metadata":{"operationMetadataId":"18a9f8de-3eaf-46f8-aaa2-6b389a166cda"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"SubscribeUserMessageWithOptions"},"parameters":{"UserMessageWithOptionsSubscriptionRequest/body/options":["Yes, I have already submitted the event to JPSR!","No, I will submit this event to JPSR now!","My event was actually NOT RELATED TO PATIENT SAFETY!"],"UserMessageWithOptionsSubscriptionRequest/body/recipient/to":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","UserMessageWithOptionsSubscriptionRequest/body/messageBody":"Test 2.@{variables('reminderCount_FlowVariable')}.@{outputs('Get_Refreshed_Item_Info')?['body/ID']} - Second \"PostChoiceOptionsAsFlowbot (Under YES)\", 10m looping timeout: During your recent award submission on the 'Employee Recognition App', you indicated that the event you were writing about is likely related to a Patient Safety concern. Have you already submitted this event within the 'Joint Patient Safety Reporting (JPSR)' system?","UserMessageWithOptionsSubscriptionRequest/body/messageTitle":"Was your submission a \"Patient Safety\" concern?","UserMessageWithOptionsSubscriptionRequest/body/recipient/summary":"Summary: Was the event submitted to JPSR system?","UserMessageWithOptionsSubscriptionRequest/body/recipient/isAlert":true},"authentication":"@parameters('$authentication')"}},"Condition_8":{"actions":{"Increment_variable":{"runAfter":{},"metadata":{"operationMetadataId":"6afb60d9-9c0b-4ad2-9879-0dd89934b580"},"type":"IncrementVariable","inputs":{"name":"reminderCount_FlowVariable","value":1}},"Delay_6":{"runAfter":{"Increment_variable":["Succeeded"]},"metadata":{"operationMetadataId":"410285f7-9e95-41ae-8c74-8a56c282c260"},"type":"Wait","inputs":{"interval":{"count":60,"unit":"Second"}}},"FlowBot_Chat_-_NoResponseLooped_Message_2":{"runAfter":{"Delay_6":["Succeeded"]},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","body/messageBody":"<p><strong>FlowBot Chat.</strong><strong>@{variables('reminderCount_FlowVariable')}</strong><strong>.</strong><strong>@{outputs('Get_Refreshed_Item_Info')?['body/ID']}</strong><strong> - NoResponse to \"PostChoiceOptionsAsFlowbot (Under YES) 2\" following increment increase and delay: </strong>You have not yet responded to the automated ChatBot message previously sent, asking you to aknowledge if your recent submission involving Patient Safety was formally submitted to the <a href=\"https://patientsafety.csd.disa.mil/index.php?form_id=2&amp;amp;module=INC\">Joint Patient Safety Reporting (JPSR)</a> system.<br>\n<br>\nPatient Safety is the responsibility of ALL employees at Edward Hines Jr. VA Hospital, and we really need your assistance to make this facility the High Reliability Organization that our Veterans deserve! Please respond to that question from the automate ChatBot via link: '&lt;a href=\"msteams://teams.microsoft.com/l/message?tenantId=\" class=\"editor-link\"&gt;Was your submission a \"Patient Safety\" concern?&lt;/a&gt;'.&lt;/p&gt;<br>\n<br>\n<br>\nTESTING INFO:<br>\nobjectId: &nbsp;@{outputs('PostChoiceOptionsAsFlowbot_(Under_YES)')?['body/responder/objectId']}<br>\ntenantId: &nbsp;@{outputs('PostChoiceOptionsAsFlowbot_(Under_YES)')?['body/responder/tenantId']}<br>\npuid: &nbsp;@{outputs('PostChoiceOptionsAsFlowbot_(Under_YES)')?['body/responder/puid']}<br>\nuserId: &nbsp;@{outputs('PostChoiceOptionsAsFlowbot_(Under_YES)')?['body/responder/userId']}<br>\nuserType: &nbsp;@{outputs('PostChoiceOptionsAsFlowbot_(Under_YES)')?['body/responder/userType']}<br>\nselectedOption: &nbsp;@{outputs('PostChoiceOptionsAsFlowbot_(Under_YES)')?['body/selectedOption']}<br>\ncomments: &nbsp;@{outputs('PostChoiceOptionsAsFlowbot_(Under_YES)')?['body/comments']}<br>\nconversation ID:<br>\nMessage link:<br>\nMessage ID:</p>","body/isAlert":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"PostChoiceOptionsAsFlowbot_(Under_YES)":["TimedOut","Skipped","Failed"]},"expression":{"equals":["@outputs('PostChoiceOptionsAsFlowbot_(Under_YES)')?['body/selectedOption']",""]},"metadata":{"operationMetadataId":"a2d1f602-b9bf-457a-a69e-2dc00bcbdaca"},"type":"If"}},"runAfter":{"Terminate":["Succeeded"]},"expression":"@or(\n    not(equals(outputs('PostChoiceOptionsAsFlowbot_(Under_YES)')?['body/responder'], '')),\n    greaterOrEquals(variables('reminderCount_FlowVariable'), 7)\n)","limit":{"count":60,"timeout":"PT90M"},"metadata":{"operationMetadataId":"ddfb284a-7628-486a-9c91-b9cceba6a76f"},"type":"Until"},"Condition_-_CheckSafetyBoolean_PreviouslySubmittedJSPR_(Under_YES)":{"actions":{"FlowBot_Chat_-_ThanksForSubmittingJPSRPreviously_(Under_YES)":{"runAfter":{},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","body/messageBody":"<p><strong>Thank you for responding, as well as doing the right thing to ensure all of our patients remain safe! </strong>Remember that you can always submit future events on the '<a href=\"https://patientsafety.csd.disa.mil/index.php?form_id=2&amp;module=INC\">Joint Patient Safety Reporting (JPSR)</a>' system.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"DoUntil_-_CheckForResponse_to_PostChoiceOfOptions_(Under_YES)":["Succeeded","Failed","TimedOut","Skipped"]},"else":{"actions":{"Condition_-_CheckSafetyBoolean_SubmitToJPSRNow_(Under_YES)":{"actions":{"FlowBot_Chat_-_PromptToSubmitJPSRNow_(Under_YES)":{"runAfter":{},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","body/messageBody":"<p><strong>Thank you for responding! </strong>Since you have not yet done so, please take a few minutes to formally submit this event on the <a href=\"https://patientsafety.csd.disa.mil/index.php?form_id=2&amp;module=INC\">'Joint Patient Safety Reporting (JPSR)'</a> system:<br>\n<br>\n<a href=\"https://patientsafety.csd.disa.mil/index.php?form_id=2&amp;module=INC\">https://patientsafety.csd.disa.mil/index.php?form_id=2&amp;module=INC</a>&nbsp;</p>","body/isAlert":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition_-_CheckSafetyBoolean_NotRelatedToSafety_(Under_YES)":{"actions":{"FlowBot_Chat_-_NotRelatedToSafety_PreUpdateItem_(Under_YES)":{"runAfter":{},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","body/messageBody":"<p><strong>Thank you for responding!</strong> Since you said that your submission was not actually related to Patient Safety, this automated ChatBot will now go back to your award nomination packet and update your previous answer to accurately record this event's Patient Safety answer.<br>\n<br>\n<em><strong>No further action is needed from you!</strong></em></p>"},"authentication":"@parameters('$authentication')"}},"UpdateItem_-_NotRelatedToSafety_(Under_YES)":{"runAfter":{"FlowBot_Chat_-_NotRelatedToSafety_PreUpdateItem_(Under_YES)":["Succeeded"]},"metadata":{"operationMetadataId":"7f731f6f-a919-416e-94be-1fa62305ca08"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@outputs('Get_Refreshed_Item_Info')?['body/ID']","item/SafetyBoolean":"No"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@outputs('PostChoiceOptionsAsFlowbot_(Under_YES)')?['body/selectedOption']","My event was actually NOT RELATED TO PATIENT SAFETY!"]},"metadata":{"operationMetadataId":"a5cbc846-1540-4c1e-b9bf-d3c4b1539893"},"type":"If"}}},"expression":{"equals":["@outputs('PostChoiceOptionsAsFlowbot_(Under_YES)')?['body/selectedOption']","No, I will submit this event to JPSR now!"]},"metadata":{"operationMetadataId":"a2c7104e-5a13-425d-9eaa-c33719eb6a39"},"type":"If"}}},"expression":{"equals":["@outputs('PostChoiceOptionsAsFlowbot_(Under_YES)')?['body/selectedOption']","Yes, I have already submitted the event to JPSR!"]},"metadata":{"operationMetadataId":"db4f1845-e979-4afb-837c-75c9eb100276"},"type":"If"},"FlowBot_Chat_-_NotifyKyleOfRoutingLoopFailure_(Under_YES)":{"runAfter":{"Condition_-_CheckSafetyBoolean_PreviouslySubmittedJSPR_(Under_YES)":["Failed","Skipped","TimedOut"]},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"Kyle.Coder@va.gov;","body/messageBody":"<p><strong>CheckSafetyBoolean.</strong><strong>@{variables('reminderCount_FlowVariable')}</strong><strong>.</strong><strong>@{outputs('UpdateItem_-_NotRelatedToSafety_(Under_YES)')?['body/ID']}</strong><strong> (UNDER YES) Flow failure!<br>\n<br>\n</strong>The routing in the flow has failed: &nbsp;&nbsp;<u><em><strong>\"</strong></em></u><u><em><strong>@{outputs('FlowBot_Chat_-_NotRelatedToSafety_PreUpdateItem_(Under_YES)')?['body/messageLink']}</strong></em></u><u><em><strong>\"</strong></em></u></p>"},"authentication":"@parameters('$authentication')"}},"FlowBot_Chat_-_SafetyBoolean_YES_PromptToSubmit":{"runAfter":{"Delay_5_Seconds_(Under_YES)":["Succeeded"]},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","body/messageBody":"<p><span style=\"font-size: 16px\"><strong>Thank you again for your recent award submission!</strong></span><strong><br>\n</strong><br>\nYou had indicated within your award submission (packet #@{outputs('Get_Refreshed_Item_Info')?['body/ID']}) that the event you wrote about <u><em>is likely related to a patient safety concern</em></u>. If any safety concerns have not already been reported officially, we ask you to please take a few minutes to submit this event within the '<a href=\"https://patientsafety.csd.disa.mil/index.php?form_id=2&amp;module=INC\">Joint Patient Safety Reporting (JPSR)</a>' system.<br>\n<br>\nAs patient safety is the responsiblility of all employees, we appreciate you taking this additional step to ensure all of our Veterans, visitors, and staff recieve the best care possible. If you would like more information, please reach out to the Edward Hines Jr. VA Hospital's Patient Safety Manager team via <a href=\"mailto:HINESPATIENTSAFETYMANAGERS@va.gov\">HinesPatientSafetyManagers@va.gov</a>.</p>","body/isAlert":true},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"FlowBot_Chat_-_SafetyBoolean_YES_PromptToSubmit":["Succeeded"]},"metadata":{"operationMetadataId":"5621dfff-f051-4063-878f-181ed553a6c6"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"else":{"actions":{"Condition_-_SafetyBoolean_Check_UNSURE":{"actions":{"Delay_5_Seconds_(Under_UNSURE)":{"runAfter":{},"metadata":{"operationMetadataId":"29a7448a-aabf-402f-acb2-2a2b26c33b25"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"DoUntil_-_CheckForResponse_to_PostChoiceOfOptions_(Under_UNSURE)":{"actions":{"Delay_7":{"runAfter":{},"metadata":{"operationMetadataId":"6d05d0ee-a578-45af-83b3-cf3eea4de575"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"PostChoiceOptionsAsFlowbot_Second_(Under_UNSURE)":{"runAfter":{"Delay_7":["Succeeded"]},"limit":{"timeout":"PT10M"},"metadata":{"operationMetadataId":"18a9f8de-3eaf-46f8-aaa2-6b389a166cda"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"SubscribeUserMessageWithOptions"},"parameters":{"UserMessageWithOptionsSubscriptionRequest/body/options":["Yes, I have already submitted the event to JPSR!","No, I will submit this event to JPSR now!","My event was actually NOT RELATED TO PATIENT SAFETY!"],"UserMessageWithOptionsSubscriptionRequest/body/recipient/to":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","UserMessageWithOptionsSubscriptionRequest/body/messageBody":"Test 2.@{variables('reminderCount_FlowVariable')}.@{outputs('Get_Refreshed_Item_Info')?['body/ID']} - Second \"PostChoiceOptionsAsFlowbot Second (Under UNSURE)\", 10m looping timeout: During your recent award submission on the 'Employee Recognition App', you indicated that the event you were writing about is likely related to a Patient Safety concern. Have you already submitted this event within the 'Joint Patient Safety Reporting (JPSR)' system?","UserMessageWithOptionsSubscriptionRequest/body/messageTitle":"Was your submission a \"Patient Safety\" concern?","UserMessageWithOptionsSubscriptionRequest/body/recipient/summary":"Summary: Was the event submitted to JPSR system?","UserMessageWithOptionsSubscriptionRequest/body/recipient/isAlert":true},"authentication":"@parameters('$authentication')"}},"Condition_10":{"actions":{"Increment_Variable_(Under_UNSURE)":{"runAfter":{},"metadata":{"operationMetadataId":"c33c2a26-2dc1-4128-a81f-acbe2a14bce8"},"type":"IncrementVariable","inputs":{"name":"reminderCount_FlowVariable","value":1}},"Delay_10_min_(Under_Unsure)":{"runAfter":{"Increment_Variable_(Under_UNSURE)":["Succeeded"]},"metadata":{"operationMetadataId":"04795192-03c7-44ed-a239-2aa1fd28982c"},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Minute"}}},"FlowBot_Chat_-_NoResponseLooped_Message_(Under_UNSURE)":{"runAfter":{"Delay_10_min_(Under_Unsure)":["Succeeded"]},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","body/messageBody":"<p><strong>FlowBot Chat.</strong><strong>@{variables('reminderCount_FlowVariable')}</strong><strong>.</strong><strong>@{outputs('Get_Refreshed_Item_Info')?['body/ID']}</strong><strong> - NoResponse to \"PostChoiceOptionsAsFlowbot second (Under UNSURE)\" following increment increase and delay: </strong>You have not yet responded to the automated ChatBot message previously sent, asking you to aknowledge if your recent submission involving Patient Safety was formally submitted to the <a href=\"https://patientsafety.csd.disa.mil/index.php?form_id=2&amp;amp;module=INC\">Joint Patient Safety Reporting (JPSR)</a> system.<br>\n<br>\nPatient Safety is the responsibility of ALL employees at Edward Hines Jr. VA Hospital, and we really need your assistance to make this facility the High Reliability Organization that our Veterans deserve! Please respond to that question from the automate ChatBot via link: '&lt;a href=\"msteams://teams.microsoft.com/l/message//?tenantId=\" class=\"editor-link\"&gt;Was your submission a \"Patient Safety\" concern?&lt;/a&gt;'.&lt;/p&gt;<br>\n<br>\n<br>\nTESTING INFO:<br>\nobjectId: @{outputs('PostChoiceOptionsAsFlowbot_Second_(Under_UNSURE)')?['body/responder/objectId']}<br>\ntenantId: @{outputs('PostChoiceOptionsAsFlowbot_Second_(Under_UNSURE)')?['body/responder/tenantId']}<br>\npuid: @{outputs('PostChoiceOptionsAsFlowbot_Second_(Under_UNSURE)')?['body/responder/puid']}<br>\nuserId: &nbsp;@{outputs('PostChoiceOptionsAsFlowbot_Second_(Under_UNSURE)')?['body/responder/userId']}<br>\nuserType: &nbsp;@{outputs('PostChoiceOptionsAsFlowbot_Second_(Under_UNSURE)')?['body/responder/userType']}<br>\nselectedOption: @{outputs('PostChoiceOptionsAsFlowbot_Second_(Under_UNSURE)')?['body/selectedOption']}<br>\ncomments: @{outputs('PostChoiceOptionsAsFlowbot_Second_(Under_UNSURE)')?['body/comments']}<br>\nconversation ID:<br>\nMessage link:<br>\nMessage ID:</p>","body/isAlert":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"PostChoiceOptionsAsFlowbot_Second_(Under_UNSURE)":["TimedOut","Skipped","Failed"]},"expression":{"equals":["@outputs('PostChoiceOptionsAsFlowbot_Second_(Under_UNSURE)')?['body/selectedOption']",""]},"metadata":{"operationMetadataId":"471e48da-a7e2-4bbc-92b2-36f6ec55dbe5"},"type":"If"}},"runAfter":{"Compose":["Succeeded"]},"expression":"@or(\n  not(equals(outputs('PostChoiceOptionsAsFlowbot_Under_UNSURE')?['body/selectedOption'], '')),\n  greaterOrEquals(variables('reminderCount_FlowVariable'), 7)\n)","limit":{"count":60,"timeout":"PT24H"},"metadata":{"operationMetadataId":"e789076a-89be-42af-8465-053205d027b6"},"type":"Until"},"PostChoiceOptionsAsFlowbot_Under_UNSURE":{"runAfter":{"Terminate_2":["Succeeded"]},"limit":{"timeout":"PT10M"},"metadata":{"operationMetadataId":"18a9f8de-3eaf-46f8-aaa2-6b389a166cda"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"SubscribeUserMessageWithOptions"},"parameters":{"UserMessageWithOptionsSubscriptionRequest/body/options":["Yes, I have already submitted the event to JPSR!","No, I will submit this event to JPSR now!","My event was actually NOT RELATED TO PATIENT SAFETY!"],"UserMessageWithOptionsSubscriptionRequest/body/recipient/to":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","UserMessageWithOptionsSubscriptionRequest/body/messageBody":"Test 2.@{variables('reminderCount_FlowVariable')}.@{outputs('Get_Refreshed_Item_Info')?['body/ID']} - First \"PostChoiceOptionsAsFlowbot (Under UNSURE)\", 10m timeout: During your recent award submission on the 'Employee Recognition App', you indicated that the event you were writing about is likely related to a Patient Safety concern. Have you already submitted this event within the 'Joint Patient Safety Reporting (JPSR)' system?","UserMessageWithOptionsSubscriptionRequest/body/messageTitle":"Was your submission a \"Patient Safety\" concern?","UserMessageWithOptionsSubscriptionRequest/body/recipient/summary":"Summary: Was the event submitted to JPSR system?","UserMessageWithOptionsSubscriptionRequest/body/recipient/isAlert":true},"authentication":"@parameters('$authentication')"}},"Condition_-_CheckSafetyBoolean_PreviouslySubmittedJSPR_(Under_UNSURE)":{"actions":{"FlowBot_Chat_-_ThanksForSubmittingJPSRPreviously_(Under_UNSURE)":{"runAfter":{},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","body/messageBody":"<p><strong>Thank you for responding, as well as doing the right thing to ensure all of our patients remain safe! </strong>Remember that you can always submit future events on the '<a href=\"https://patientsafety.csd.disa.mil/index.php?form_id=2&amp;module=INC\">Joint Patient Safety Reporting (JPSR)</a>' system.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"DoUntil_-_CheckForResponse_to_PostChoiceOfOptions_(Under_UNSURE)":["Succeeded"]},"else":{"actions":{"Condition_-_CheckSafetyBoolean_SubmitToJPSRNow_(Under_UNSURE)":{"actions":{"FlowBot_Chat_-_PromptToSubmitJPSRNow_(Under_UNSURE)":{"runAfter":{},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","body/messageBody":"<p><strong>Thank you for responding! </strong>Since you have not yet done so, please take a few minutes to formally submit this event on the <a href=\"https://patientsafety.csd.disa.mil/index.php?form_id=2&amp;module=INC\">'Joint Patient Safety Reporting (JPSR)'</a> system:<br>\n<br>\n<a href=\"https://patientsafety.csd.disa.mil/index.php?form_id=2&amp;module=INC\">https://patientsafety.csd.disa.mil/index.php?form_id=2&amp;module=INC</a>&nbsp;</p>","body/isAlert":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition_-_CheckSafetyBoolean_NotRelatedToSafety_(Under_UNSURE)":{"actions":{"FlowBot_Chat_-_NotRelatedToSafety_PreUpdateItem_(Under_UNSURE)":{"runAfter":{},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","body/messageBody":"<p><strong>Thank you for responding!</strong> Since you said that your submission was not actually related to Patient Safety, this automated ChatBot will now go back to your award nomination packet and update your previous answer to accurately record this event's Patient Safety answer.<br>\n<br>\n<em><strong>No further action is needed from you!</strong></em></p>"},"authentication":"@parameters('$authentication')"}},"UpdateItem_-_NotRelatedToSafety_(Under_UNSURE)":{"runAfter":{"FlowBot_Chat_-_NotRelatedToSafety_PreUpdateItem_(Under_UNSURE)":["Succeeded"]},"metadata":{"operationMetadataId":"2ec1f673-8ca2-41ff-ab1b-5b65c314ffb3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/HinesEmployeeEngagementandWholeHealth/EmployeeRecognitionApp","table":"26a559b3-e174-4b37-becc-a7863c2d96e6","id":"@outputs('Get_Refreshed_Item_Info')?['body/ID']","item/SafetyBoolean":"No"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"or":[{"equals":["@outputs('PostChoiceOptionsAsFlowbot_Second_(Under_UNSURE)')?['body/selectedOption']","My event was actually NOT RELATED TO PATIENT SAFETY!"]},{"equals":["@outputs('PostChoiceOptionsAsFlowbot_Under_UNSURE')?['body/selectedOption']","My event was actually NOT RELATED TO PATIENT SAFETY!"]}]},"metadata":{"operationMetadataId":"c5ac5d38-b89e-4a82-846c-3f164ca974ba"},"type":"If"}}},"expression":{"or":[{"equals":["@outputs('PostChoiceOptionsAsFlowbot_Second_(Under_UNSURE)')?['body/selectedOption']","No, I will submit this event to JPSR now!"]},{"equals":["@outputs('PostChoiceOptionsAsFlowbot_Under_UNSURE')?['body/selectedOption']","No, I will submit this event to JPSR now!"]}]},"metadata":{"operationMetadataId":"913f3bdd-e7ca-4818-bfc6-fa0e7813cd03"},"type":"If"}}},"expression":{"or":[{"equals":["@outputs('PostChoiceOptionsAsFlowbot_Second_(Under_UNSURE)')?['body/selectedOption']","Yes, I have already submitted the event to JPSR!"]},{"equals":["@outputs('PostChoiceOptionsAsFlowbot_Under_UNSURE')?['body/selectedOption']","Yes, I have already submitted the event to JPSR!"]}]},"metadata":{"operationMetadataId":"4d63f386-af7c-4fe0-b3e9-451fd724f6ea"},"type":"If"},"FlowBot_Chat_-_NotifyKyleOfRoutingLoopFailure_(Under_UNSURE)":{"runAfter":{"Condition_-_CheckSafetyBoolean_PreviouslySubmittedJSPR_(Under_UNSURE)":["Failed","Skipped","TimedOut"]},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"Kyle.Coder@va.gov;","body/messageBody":"<p><strong>CheckSafetyBoolean.</strong><strong>@{triggerOutputs()?['body/ID']}</strong><strong> (Under UNSURE) Flow failure: &nbsp;</strong>The routing in the flow has failed: &nbsp;@{outputs('FlowBot_Chat_-_ThanksForSubmittingJPSRPreviously_(Under_UNSURE)')?['body/messageLink']}</p>"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"PostChoiceOptionsAsFlowbot_Under_UNSURE":["TimedOut","Skipped","Failed"]},"metadata":{"operationMetadataId":"c0d86139-2234-4d74-a717-a893a721b9cd"},"type":"Compose","inputs":"@outputs('PostChoiceOptionsAsFlowbot_Under_UNSURE')?['body/selectedOption']"},"Terminate_2":{"runAfter":{"FlowBot_Chat_-_SafetyBoolean_NO_Thank_You_2":["Succeeded"]},"metadata":{"operationMetadataId":"ac943063-e6b0-4fc5-bbb9-dcca446de823"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"FlowBot_Chat_-_SafetyBoolean_NO_Thank_You_2":{"runAfter":{"Delay_5_Seconds_(Under_UNSURE)":["Succeeded"]},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@outputs('Get_Refreshed_Item_Info')?['body/field_3']","body/messageBody":"<p><strong>Thank you again for your recent award submission! &nbsp;</strong>During your recent award submission on the 'Employee Recognition App', you indicated that the event you were writing about <u><em>might possibly be</em></u> related to a patient safety concern.<br>\n<br>\nPlease take a few minutes to submit this event within the '<a href=\"https://patientsafety.csd.disa.mil/index.php?form_id=2&amp;module=INC\">Joint Patient Safety Reporting (JPSR)</a>' system, to make sure that any potential or real risks &amp; problems can be officially addressed.<br>\n<br>\n<br>\n<br>\n<span style=\"font-size: 16px\"><strong>Thank you again for your recent award submission!</strong></span><br>\n<br>\nYou had indicated within your award submission (packet #@{outputs('Get_Refreshed_Item_Info')?['body/ID']}) that the event you wrote about is likely related to a patient safety concern. If any safety concerns have not already been reported officially, we ask you to please take a few minutes to submit this event within the 'Joint Patient Safety Reporting (JPSR)' system.<br>\n<br>\nAs patient safety is the responsiblility of all employees, we appreciate you taking this additional step to ensure all of our Veterans, visitors, and staff recieve the best care possible. If you would like more information, please reach out to the Edward Hines Jr. VA Hospital's Patient Safety team via <a href=\"mailto:HINESPATIENTSAFETYMANAGERS@va.gov\">HinesPatientSafetyManagers@va.gov</a>.&nbsp;</p>","body/isAlert":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"contains":["@outputs('Get_Refreshed_Item_Info')?['body/SafetyBoolean']","Unsure"]},"metadata":{"operationMetadataId":"99cd5005-b840-45b4-9229-a233ba029d28"},"type":"If"}}},"expression":{"contains":["@outputs('Get_Refreshed_Item_Info')?['body/SafetyBoolean']","Yes"]},"metadata":{"operationMetadataId":"d1cc74e1-8db6-496b-8284-b2b274d21ced"},"type":"If"}}},"expression":{"contains":["@outputs('Get_Refreshed_Item_Info')?['body/SafetyBoolean']","No"]},"metadata":{"operationMetadataId":"7370711f-1b7e-4376-b669-cde64cdde271"},"type":"If"},"Apply_to_each":{"foreach":"@outputs('Get_Refreshed_Item_Info')?['body/Starfish_Person']","actions":{"FlowBot_Chat_-_Thank_you_for_Submitting!_2":{"runAfter":{},"metadata":{"operationMetadataId":"c9f7d7c5-1c0a-4b2c-bdba-b55479478989"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"Kyle.Coder@va.gov;","body/messageBody":"<p>Kyle, someone has submitted an award in your app (packet #@{outputs('Get_Refreshed_Item_Info')?['body/ID']}) , and this message is being sent to you parallel to their own \"Thank You\" prompt.<br>\n____________________________________________</p>\n<br>\n<br>\n<ul>\n  <li>ItemCreated_ByPerson: &nbsp;&nbsp;@{outputs('Get_Refreshed_Item_Info')?['body/Author']}</li>\n  <li>ItemCreated_ByPerson DisplayName: &nbsp;@{outputs('Get_Refreshed_Item_Info')?['body/Author/DisplayName']}</li>\n  <li>ItemCreated_ByPerson Email: &nbsp;&nbsp;@{outputs('Get_Refreshed_Item_Info')?['body/Author/Email']}</li>\n  <li>Submitter_Email_Text: &nbsp;&nbsp;@{outputs('Get_Refreshed_Item_Info')?['body/field_3']}</li>\n  <li>Submitter_NameEmail_Text: &nbsp;&nbsp;@{outputs('Get_Refreshed_Item_Info')?['body/field_4']}</li>\n  <li>Submitter_Email_Person Email: &nbsp;&nbsp;@{outputs('Get_Refreshed_Item_Info')?['body/Person_Submitter/Email']}</li>\n  <li>Submitter_Email_Person DisplayName: &nbsp;&nbsp;@{outputs('Get_Refreshed_Item_Info')?['body/Person_Submitter/DisplayName']}</li>\n  <li>Submitter_Email_Person: &nbsp;&nbsp;@{outputs('Get_Refreshed_Item_Info')?['body/Person_Submitter']}</li>\n  <li>Nominee_NameEmail_Text: &nbsp;&nbsp;@{outputs('Get_Refreshed_Item_Info')?['body/field_5']}</li>\n  <li>Nominee_Name_Person DisplayName: &nbsp;&nbsp;@{items('Apply_to_each')?['DisplayName']}<br>\n  <li>Nominee_Name_Person Email: &nbsp;&nbsp;\n@{items('Apply_to_each')?['Email']}<br>\n  <li>Nominee_Name_Person: &nbsp;&nbsp;\n@{outputs('Get_Refreshed_Item_Info')?['body/Starfish_Person']}<br>\n  <li>Nominee_Name_PersonItem: &nbsp;&nbsp;@{items('Apply_to_each')}<br>\n\n<br>\n<br>\nURL:  @{outputs('Get_Refreshed_Item_Info')?['body/{Link}']}","body/isAlert":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Delay_5_Seconds_-_PreThankYouForSubmission":["Succeeded"]},"metadata":{"operationMetadataId":"8c744b79-f146-41b0-bde2-5e6161e1501d"},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline_1":{"connectionName":"58db033b3c1f4a38bcdbc2414d4e77af","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_teams":{"connectionName":"shared-teams-77521a01-aa18-4bbd-afd9-b26c59641fe1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"f3f51e7fd76043898aa98c3410ec147d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}